[submodule "themes/hugo-future-imperfect"]
    path = themes/hugo-future-imperfect
    url = https://github.com/jpescador/hugo-future-imperfect.git
[submodule "docs"]
	path = docs
	url = git@github.com:kurousada/kurousada.github.io.git
	branch = master
