<article class="post">
    {{ .Render "header" }}

    {{ .Render "featured" }}
    <div id="content">
        {{ if and (isset .Params "toc") (ne .Params.toc "false") }}{{ .TableOfContents }}{{ end }}
        {{ .Content }}
    </div>

    {{ if (ne .Params.nosharebuttons "true") }}
    <aside id="social-share" class="post-aside">
        <ul class="icons post-aside-content">
            {{ partial "share-links" . }}
        </ul>
    </aside>
    {{ end }}

    {{ with .Site.Params.intro.ads }}
    <!--
    <aside id="content-ads" class="post-aside">
        <p class="post-aside-content" style="padding-bottom:10px;">{{ . }}</p>
    </aside>
    -->
    {{ end }}

    <footer class="content-footer">
        {{ .Render "footer-category" }}
        <section class="back-to-top-link">
            <a href="#top"><i class="fa fa-arrow-up"></i>&nbsp;Back To Top</a>
        </section>
    </footer>
</article>
{{ .Render "prev-next" }}

<!-- Related Posts -->
{{ if .Params.categories }}

{{ $otherPosts := where .Site.Pages ".RelPermalink" "!=" .RelPermalink }}
{{ $relatedPosts := where $otherPosts ".Params.categories" "intersect" .Params.categories }}

<aside class="navi">
<nav id="related-posts" class="navi-content">
  {{ if ($relatedPosts| len | lt 0) }}
    <ul class="posts">
      <header>
        <h3>Related Posts</h3>
      </header>
      {{ range $page := $relatedPosts }}
        <li class="post">
          <a class="post-link" href="{{ $page.Permalink }}">
            <article>
              <header>
                <h4 class="post-link-title">{{ $page.Title }}</h4>
                <time class="published" datetime="{{ $page.Date.Format "2006-01-02" }}">{{ $page.Date.Format "January 2, 2006" }}</time>
              </header>
            </article>
          </a>
        </li>
      {{ end }}
    </ul>
  {{ end }}
</nav>
</aside>
{{ end }}

<!-- Comments -->
<aside id="comments">
{{ if ne .Site.DisqusShortname "" }}
    {{ if not (in (printf "%#v" .Site.BaseURL) "localhost") }}
        <article class="post">
            {{ template "_internal/disqus.html" . }}
        </article>
    {{ end }}
{{ end }}
</aside>
