
nav {
  overflow-y: auto;
}

.nav-menu a:last-child {
  margin-right: 0;
}

#content .history {
  text-decoration: none;
}

#content .note {
  border: 1px solid #ababab;
  padding: 1rem;
  margin: 0 0 1em;
}
  
#content img {
  width: 100%;
}

#content table {
  min-width: 100%;
  max-width: none;
  width: max-content;
}

#content ol code,
#content ul code {
  background: #f7f7f7;
  padding: .1em .2em;
  margin: 0 .2em;
}

.pagination {
  list-style-type: none;
  padding: 1.5em 0;
  margin: 0;
  border-top: 1px solid #d2d2d2;
  border-bottom: 1px solid #d2d2d2;
  display: flex;
  flex-direction: column;
}

.pagination a {
  text-decoration: none;
}

.pagination .divider:not(:first-child):not(:last-child) {
  margin: 1.5em 0;
  border-top: 1px solid #d2d2d2;
}

.pagination .prev a,
.pagination .next a {
  display: flex;
  align-items: center;
}

.pagination .next {
  align-self: flex-end;
}

.pagination .prev a:before,
.pagination .next a:after {
  display: block;
  flex-shrink: 0;
  box-sizing: border-box;
  content: "";
  border-width: 4px;
  border-style: solid;
  width: 1rem;
  height: 1rem;
  transform: rotate(45deg);
}

.pagination .prev a:before {
  border-color: transparent transparent #d2d2d2 #d2d2d2;
  margin-left: .5rem;
}

.pagination .next a::after {
  border-color: #d2d2d2 #d2d2d2 transparent transparent;
  margin-right: .5rem;
}

.related-posts-header {
  margin-top: 2.5em;
}

.related-posts {
  list-style-type: none;
  margin: 0;
  padding: 0;
  border-top: 1px solid #d2d2d2;
  display: flex;
  flex-direction: column;
}


.related-posts li {
  width:100%;
}

.related-posts a {
  display:inline-block;
  width: 100%;
  padding:1.5em 0;
  border-bottom: 1px solid #d2d2d2;
  text-decoration: none;
}

.comments {
  margin: 2.5em 0;
}

.comments > h3 {
  padding-bottom: .75em;
  border-bottom: 1px solid #d2d2d2;
}

.comments form {
  display: grid;
  grid-auto-rows: min-content;
  align-items: baseline;
  border-top: 1px solid #d2d2d2;
  border-bottom: 1px solid #d2d2d2;
  padding: 0 0 1em;
}

.comments form label {
  font-size: small;
  margin-top: .5em;
}

.comments form button[type="submit"] {
  margin-top: 1em;
}

.comments form textarea {
  padding: .25rem .5rem;
  line-height: 1.5;
}

#comment-submitted {
  border: 1px solid #359377;
  border-radius: 5px;
  padding: 1em 1em 0;
  margin: 1em 0;
  display: none;
}

#comment-submitted:target {
  display: block;
}

#comment-submitted h3 {
  margin-top:0;
}

#comment-submitted-close {
  float: right;
  text-decoration: none;
  position: relative;
}

#comment-submitted-close:before,
#comment-submitted-close:after {
  display: inline-block;
  content: '';
  border-top:3px solid #d2d2d2;
  width:1em;
  height:0;
  position: absolute;
  top: .5rem;
  right: 0;
}

#comment-submitted-close:before {
  transform: rotate(45deg);
}

#comment-submitted-close:after {
  transform: rotate(-45deg);
}
