/* search */
#search .gsib_a {
  padding: 0;
}

#search .gsib_b {
  display: none;
}

#search .gsc-search-button,
#search .gsc-clear-button {
  display: none;
}

#search .gsc-input {
  margin: 0;
  padding: 0;
}

#search .gsc-search-box,
#search .gsc-search-box tr,
#search .gsc-input-box,
#search .gsc-input-box table,
#search .gsc-input-box table tr {
  border-width: 0px;
  margin: 0;
}

#search,
#search input[type="text"].gsc-input {
  height: 2.75em !important;
}

#search input[type="text"].gsc-input {
  box-sizing: border-box;
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none;
  border: 1px solid rgba(160, 160, 160, .3) !important;
  padding-left:5px !important;
}

#search input[type="text"].gsc-input:focus {
  border-color: transparent !important;
}

/* sidebar */

#sidebar #intro {
  border-width: 0 0 1px 0;
  border-color: rgba(160,160,160,.3);
  border-style: solid;
  margin-bottom: 2em;
}

.navi .post {
  margin-top: 0;
  padding: 1px;
  display: block;
  background: transparent;
  border-width: 1px 0 0 0;
  border-color: rgba(160,160,160,.3);
  border-style: dotted none none none;
}

.navi .post:not(.more-post):last-child {
  border-width: 1px 0 1px 0;
  border-color: rgba(160,160,160,.3);
  border-style: dotted none dotted none;
}

.navi .post-link {
  width: 100%;
  height: 100%;
  padding: 1.5em 0.5em;
  display: block;
  border: none;
}

.navi .post-link:hover {
  background-color: rgba(0, 0, 0, .075);
  color: #3c3b3b !important;
  cursor: pointer;
}

.navi .post-link-title {
  display: inline-block;
}

.navi .post-link-title:hover,
.navi .post-link:hover .post-link-title {
  color: #2ebaae !important;
}

.navi .navi-content:not(#categories) .posts .more-post {
  padding: 1.5em 0 0 0;
}

.navi .actions {
  margin: 0;
  padding: 0;
}

#main article.post #social-share {
  margin-top: 3em;
}

.navi .navi-content,
.navi .blurb {
  margin: 0 0 3em 0;
  border: 0 none white;
}

@media screen and (max-width: 980px) {
  .navi .post {
    width: 100%;
    left:0;
  }
}

#sidebar > *:not(:last-child) {
  border-top: 0 none transparent;
  padding:0;
}

@media screen and (max-width: 1280px) {
  #sidebar {
    border-top: 0 none transparent;
    padding:0;
  }
}
/* main content */

.post {
  padding:3em 3em 0;
}

/*
.post > header {
  margin: 0 3em 3em 3em;
  width:100%;
}
*/

.post > header .meta > .published {
  margin-bottom:0;
}

.post > header .meta > .org-time {
  padding:0;
  line-height:1em;
}

.post > header .meta > .published + .author {
  margin-top:1em;
}

.post > .image.featured img:hover {
  transform: none;
}

@media (max-width: 480px) {
  .post > .image.featured {
    margin-left: -1.5em;
  }
}

.post > .image.featured {
  margin-bottom:0;
}

.post > .image.featured .featured-data.on-error {
  display: none;
}

.post > .image.featured .featured-data + .featured-alt {
  display: none;
}

.post > .image.featured .featured-data.on-error + .featured-alt {
  width:100%;
  height:50vh;
  background:rgba(200, 200 ,200, .1);
  border:1px solid rgba(60, 60, 60, .3);
  color:#999;
  display: flex;
  align-items: center;
  justify-content: center;
}

.post > .image.featured + .featured-copyright {
  text-align:right;
  font-size:small;
  margin-right: .5em;
  margin-top: .5em;
  margin-bottom: 3em;
  font-style: italic;
}

#content .image .image-data.on-error {
  display: none;
}

#content .image .image-data + .image-alt {
  display: none;
}

#content .image .image-data.on-error + .image-alt {
  width:100%;
  height:30vh;
  background:rgba(200, 200 ,200, .1);
  border:1px solid rgba(60, 60, 60, .3);
  color:#999;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*
.post {
  padding:0;
}

.post > section,
.post > footer {
  margin-left:3em;
  margin-right:3em;
}

.post > #content {
  margin: 3em;
}
*/
#content h2 {
  border-width: 2px 0;
  border-style: solid;
  border-color: rgb(60, 60, 60);
  line-height: 3em;
  margin: 3em 0;
  padding-left: .5em;
}

#content p {
  padding-left: .5em;
  line-height: 2em;
  margin: 1.5em 0;
}

#content p:last-child {
  margin-bottom: 5em;
}

#content > ul {
  list-style-type: none;
  margin: 0;
}

#content > ul li:before {
  content:"☞";
  margin-right:10px;
  font-size:16px;
}

#content > ul li {
  text-indent:-26px;
  padding-left: 26px;
}

.content-footer {
  margin: 1em 0 0;
  padding: 1.5em 3em;
  position:relative;
  left:-3em;
  width: calc(100% + 6em);
  border-top:1px solid rgba(160, 160, 160, .3);
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  align-content: flex-end;
}

.content-footer ul {
  margin:0;
}

.content-footer > .stats {
  flex-grow:1;
}

.content-footer > .back-to-top-link {
  text-align:right;
}

ul.actions.button-more {
  padding-top: 1em;
}

ul.actions.button-more,
ul.actions.button-more li {
  padding-left: 0;
}

ul.actions.button-more,
ul.actions.button-more li,
ul.actions.button-more li a {
  width: 100%;
}

.back-to-top-link {
  font-family: Raleway,Helvetica,sans-serif;
  font-size: .6em;
  font-weight: bold;
  letter-spacing: .25em;
  text-transform: uppercase;
}

.back-to-top-link a {
  border-bottom: 0 none transparent;
}

@media (max-width:374px){
  #header .main ul .back-to-top-link {
    display:none;
  }
}

#header .main ul .back-to-top-link > a {
  width: 4em;
  font-size: 1.6em;
}

@media (max-width: 450px) {
  .content-footer .back-to-top-link {
    display: none;
  }
}

.post > footer .stats li {
  margin-left: 1em;
  padding-left: 1.5em;
}

.post > footer .stats li:first-child {
  font-weight: bold;
}

.post > footer .stats li:nth-child(2) {
  border-left: 0 none transparent;
  padding-left: 0;
}

.post-aside {
  margin: 2em 0;
  padding-top: 1em;
}

.post-aside:not(.compact) {
  border:1px solid rgba(160, 160, 160, .3);
}

#social-share.post-aside:not(.compact):before {
  content:"Share with";
}

#content-ads.post-aside:not(.compact):before {
  content:"Sponsered link";
}

.post-aside:not(.compact):before {
  font-size: 1.2em;
  font-weight:bold;
  position:relative;
  top:-1.9em;
  left:.3em;
  background-color:white;
  padding: 0 .5em;
}

.post-aside.compact {
  margin: 0 0 1.5em 0;
  padding: 0;
}

.post-aside .post-aside-content {
  padding-left:0;
  text-align:center;
  margin:0;
}

.post-aside:not(.compact) .post-aside-content {
  position:relative;
  top:-1em;
}

.line-solid-horizontal,
.line-dotted-horizontal {
  border-color: rgba(160,160,160,.3);
  border-width: 1px 0 0 0;
  margin: 0;
  padding: 0;
  width: calc(100% + 3em * 2);
  position: relative;
  left: -3em;
}

.line-solid-horizontal {
  border-style: solid;
}

.line-dotted-horizontal {
  border-style: dotted;
}

.post figure.image {
  max-width:450px;
}

@media (max-width: 450px) {
  .post figure.image {
    width:100%;
  }
}

.post .image figcaption {
  text-align:center;
  font-size:80%;
  margin-top:.5em;
}

.post ul {
  list-style-type: georgian;
  padding-left: 1.5em;
}

.post ul li {
  padding-left: .2em;
}


#TableOfContents {
  padding: 0 1em;
  border:1px solid rgba(160, 160, 160, .3);
}

#TableOfContents ul {
  margin:0;
}

#TableOfContents > ul {
  list-style-type: none;
  padding:0;
}

#TableOfContents > ul::before {
  content:'Index';
  font-size: 1.2em;
  font-weight:bold;
  position:relative;
  top:-1em;
  left:-.5em;
  background-color:white;
  padding: 0 .5em;
}

#TableOfContents ul li {
  padding-left:0;
  line-height:1.7em;
}

#TableOfContents ul li a {
  border-bottom:0 none transparent;
}

#TableOfContents > ul ul {
  position:relative;
  top:-0.8em;
}

ul.pagination {
  display:flex;
  justify-content:space-between;
  width:100%;
  margin-bottom:3em;
}

@media screen and (max-width: 736px) {
  ul.pagination {
    flex-wrap:wrap;
  }
  
  ul.pagination li {
    padding-right: 0;
  }
  
  ul.pagination li,
  ul.pagination li a {
    width:100%;
  }
}

#related-posts ul {
  list-style-type: none;
}

#related-posts .post {
  background-color:transparent;
}

#lightbox a {
  border:0 none transparent;
}

#intro-about header h2,
#intro-ads   header h2 {
  font-size:.9em;
  margin:0 0 1em;
}

#intro-about > .navi-content-content,
#intro-ads   > .navi-content-content {
  border-top: 1px dotted rgba(160,160,160,.3);
  padding: 1.5em 0.5em;
  margin:0;
}

#sidebar ul.actions {
  display:flex;
  justify-content:flex-end;
}
