{{ define "main" }}

    <h1 class="post-title">{{ .Title }}</h1>
    {{ if .Date }}
    <a class="history" href="https://gitlab.com/kurousada/site/-/commits/master/content/{{ .File.Path }}"><time>{{ .Date.Format "January 2, 2006" }}</time></a>
    {{ end }}
    <div>
        <p>
        {{ .Content }}
        </p>
    </div>
    {{ template "_internal/disqus.html" . }}

    {{ if .Site.Params.enableKofi }}

        <script type='text/javascript' src='https://ko-fi.com/widgets/widget_2.js'></script>
        <script type='text/javascript'>
            const kofiId = '{{ .Site.Params.Kofi }}';
            kofiwidget2.init('Support Me on Ko-fi', '#29abe0', kofiId);
            kofiwidget2.draw();
        </script> 

    {{ end }}

    <div class="page-footer">
        {{if .Params.tags}}
        <!--<hr class="footer-divider">-->
        {{ range .Params.tags }}
            <a class="tag" href="/tags/{{ . | urlize }}">#{{.}}</a>
        {{ end }}
      {{ end }}
    </div>
    
    {{ if (or .PrevInSection .NextInSection) }}

      <ul class="pagination">
        {{ with .PrevInSection }}
          <li class="prev"><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></li>
        {{ end }}
        <li class="divider"></li>
        {{ with .NextInSection }}
          <li class="next"><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></li>
        {{ end }}
      </ul>

    {{ end }}
    
    {{ template "partials/related.html" . }}
{{end}}
