{{ define "main" }}
<!-- Shows all of the site's tags -->
<h1>Tags</h1>
<style>
  .table-wrapper {
    overflow-x: initial;
  }
  
  .posts {
    text-align: right;
  }
  
  table {
    margin-bottom: 1.5rem;
  }
</style>
<table>
  <thead>
    <tr><th>Tag</th><th>Posts</th></tr>
  </thead>
  <tbody>
    {{ range .Data.Terms.Alphabetical }}
        <tr><td><a href="{{ .Page.Permalink }}">{{ .Page.Title }}</a></td><td class="posts">{{ .Count }}</td></tr>
    {{ end }}
  </tbody>
<table>
{{end}}
