<div class="comments" id="comments">
  <h3>Comments</h3>
  {{ $comments := readDir "data/comments" }}
  {{ $.Scratch.Add "hasComments" 0 }}
  {{ $entryId := .File.UniqueID }}

  {{ range $comments }}
    {{ if eq .Name $entryId }}
      {{ $.Scratch.Add "hasComments" 1 }}
      {{ range $index, $comments := (index $.Site.Data.comments $entryId ) }}
        <div class="post-comment">
          <div class="post-comment-header">
            <img class="post-comment-avatar" src="https://www.gravatar.com/avatar/{{ .email }}?s=100">
            <p class="post-comment-info"><strong>{{ .name }}</strong><br>{{ dateFormat "02/01/2006" .date }}</p>
          </div>
          {{ .body | markdownify }}
        </div>
      {{ end }}       
    {{ end }}
  {{ end }}

  {{ if eq ($.Scratch.Get "hasComments") 0 }}
    <p>No comments yet.</p>
  {{ end }}
  
  <div id="comment-submitted">
    <a id="comment-submitted-close" href="#comments"></a>
    <h3>Thank you!</h3>
    <p>Your comment has been submitted and will be published once it has been approved.</p>
    <p><a href="https://gitlab.com/kurousada/site/-/merge_requests">Click here</a> to see the merge request you generated.</p>
  </div>

  <form method="POST" action="https://api.staticman.net/v3/entry/gitlab/kurousada/site/master/comments">
    <input name="options[redirect]" type="hidden" value="{{ .Permalink }}#comment-submitted">
    <!-- e.g. "2016-01-02-this-is-a-post" -->
    <input name="options[slug]" type="hidden" value="{{ $entryId }}">

    <label>Name</label>
    <input name="fields[name]" type="text" placeholder="Your Name" required maxlength="150">

    <label>E-mail (optional)</label>
    <input name="fields[email]" type="email" placeholder="user@example.com" maxlength="150">

    <label>Message</label>
    <textarea name="fields[message]" placeholder="Markdown supported, Up to 2,000 chars." required rows="5" maxlength="2000"></textarea>
    
   {{ with .Site.Params.staticman.recaptcha -}}
    <div class="g-recaptcha" data-sitekey="{{ .sitekey }}"></div>
    {{- end }}

    
    <button type="submit">Send</button>
  </form>

</div>
