            </div>
        <!--a id="back-to-top" href="#" class="fa fa-arrow-up fa-border fa-2x"></a-->
        <!-- Scripts -->

        <!-- Keeping the deprecated param, minifiedFilesJS, for now. The new param
             that replaces this is customJS. Utilizing a scratch variable jsFiles
             to keep the deprecated param. -->
        {{ $.Scratch.Set "jsFiles" false }}
        {{ with .Site.Params.minifiedFilesJS }}
            {{ $.Scratch.Set "jsFiles" . }}
        {{ end }}
        {{ with .Site.Params.customJS }}
            {{ $.Scratch.Set "jsFiles" . }}
        {{ end }}

        <!-- If the value "default" is passed into the param then we will first
             load the standard js files associated with the theme -->
        {{ if or (in ($.Scratch.Get "jsFiles") "default") (eq ($.Scratch.Get "jsFiles") false) }}
            <script src="/js/jquery.min.js"></script>
            <script src="/js/lightbox.min.js"></script>
            <script src="/js/skel.min.js"></script>
            <script src="/js/main.js"></script>
            <script src="/js/highlight.pack.js"></script>
        {{ end }}

        {{ if ne ($.Scratch.Get "jsFiles") false }}
            <!-- CustomJS -->
            {{ range $.Scratch.Get "jsFiles" }}
                {{ if ne . "default" }}
                    <script src="{{ . }}"></script>
                {{ end }}
            {{ end }}
            <!-- /CustomJS -->
        {{ end }}

        {{ with .Site.Params.intro.ads }}
            <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        {{ end }}
      
        <script>
          window.addEventListener( 'load', function () {
            (adsbygoogle = window.adsbygoogle || []).push({
              google_ad_client: "ca-pub-2419792064448421",
              enable_page_level_ads: true
            });

            Array.prototype.forEach.call( document.querySelectorAll( "a[href^='http']:not([href*='" + location.hostname + "'])" ), function( el ){
              el.setAttribute( 'target', '_blank' )
            } );

            if ( lightbox ) {
              const marginTop = 15
              const header = document.querySelector( '#header' )
              const headerHeight = parseInt( window.getComputedStyle( header, '' ).height.slice( 0, -2 ), 10 )
              const lightboxPosFromTop = headerHeight + marginTop
      
              lightbox.option({
                "alwaysShowNavOnTouchDevices": true,
                "fitImagesInViewport": true,
                "positionFromTop": lightboxPosFromTop,
                "wrapAround": true
              })
            }

            if ( hljs ) {
              hljs.initHighlightingOnLoad();
            }
          }, false)
        </script>
        <!--[if lte IE 8]><script src="/js/ie/respond.min.js"></script><![endif]-->
    </body>
</html>
