{{ $related := .Site.RegularPages.Related . | first 5 }}
{{ with $related }}
  <h3 class="related-posts-header">See Also</h3>
  <ul class="related-posts">
    {{ range . }}
      <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
    {{ end }}
  </ul>
{{ end }}

