<div class="social-icons">
        {{ if isset .Site.Params "email" }}
    <a class="social-icon" href="{{ .Site.Params.Email }}" target="_blank" rel="noopener" title="Email">
        <svg width="28px" height="28px" viewBox="0 0 28 28" version="1.1" fill="#ABABAB" xmlns="https://www.w3.org/2000/svg" xmlns:xlink="https://www.w3.org/1999/xlink">
            <path d="M25.2794292,5.59128519 L14,16.8707144 L2.72057081,5.59128519 C3.06733103,5.30237414 3.51336915,5.12857603 4,5.12857603 L24,5.12857603 C24.4866308,5.12857603 24.932669,5.30237414 25.2794292,5.59128519 Z M25.9956978,6.99633695 C25.998551,7.04004843 26,7.08414302 26,7.12857603 L26,20.871424 C26,21.0798433 25.9681197,21.2808166 25.9089697,21.4697335 L18.7156355,14.2763993 L25.9956978,6.99633695 Z M24.9498374,22.6319215 C24.6672737,22.7846939 24.3437653,22.871424 24,22.871424 L4,22.871424 C3.5268522,22.871424 3.09207889,22.7071233 2.74962118,22.432463 L10.0950247,15.0870594 L13.9848068,18.9768415 L14.1878486,18.7737996 L14.2030419,18.7889929 L17.6549753,15.3370594 L24.9498374,22.6319215 Z M2.00810114,21.0526627 C2.00273908,20.9929669 2,20.9325153 2,20.871424 L2,7.12857603 C2,7.08414302 2.00144896,7.04004843 2.00430222,6.99633695 L9.03436454,14.0263993 L2.00810114,21.0526627 Z"></path>
        </svg>
    </a>
    {{ end }}

    {{ if isset .Site.Params "facebook" }}
    <a class="social-icon" href="{{ .Site.Params.Facebook }}" target="_blank" rel="noopener" title="Facebook">
        <svg width="28px" height="28px" viewBox="0 0 28 28" version="1.1" fill="#ABABAB" xmlns="https://www.w3.org/2000/svg" xmlns:xlink="https://www.w3.org/1999/xlink">
            <path d="M27,14.0789648 C27,6.89925781 21.179707,1.07896484 14,1.07896484 C6.82029297,1.07896484 1,6.89925781 1,14.0789648 C1,20.5676406 5.75391211,25.9457813 11.96875,26.9210352 L11.96875,17.8367773 L8.66796875,17.8367773 L8.66796875,14.0789648 L11.96875,14.0789648 L11.96875,11.2149023 C11.96875,7.95677734 13.9095586,6.15708984 16.879043,6.15708984 C18.3013496,6.15708984 19.7890625,6.41099609 19.7890625,6.41099609 L19.7890625,9.61021484 L18.149793,9.61021484 C16.534873,9.61021484 16.03125,10.6123066 16.03125,11.640373 L16.03125,14.0789648 L19.6367188,14.0789648 L19.0603516,17.8367773 L16.03125,17.8367773 L16.03125,26.9210352 C22.2460879,25.9457813 27,20.5676406 27,14.0789648"></path>
        </svg>
    </a>
    {{ end }}

    {{ if isset .Site.Params "twitter" }}
    <a class="social-icon" href="{{ .Site.Params.Twitter }}" target="_blank" rel="noopener" title="Twitter">
        <svg width="28px" height="28px" viewBox="0 0 28 28" version="1.1" fill="#ABABAB" xmlns="https://www.w3.org/2000/svg" xmlns:xlink="https://www.w3.org/1999/xlink">
            <path d="M8.991284,24.971612 C19.180436,24.971612 24.752372,16.530224 24.752372,9.210524 C24.752372,8.970656 24.747512,8.731868 24.736496,8.494376 C25.818008,7.712564 26.758256,6.737 27.5,5.62622 C26.507372,6.067076 25.439252,6.364292 24.318752,6.498212 C25.462472,5.812628 26.340512,4.727444 26.754584,3.434036 C25.684088,4.068536 24.499004,4.53002 23.23724,4.778528 C22.226468,3.701876 20.786828,3.028388 19.193828,3.028388 C16.134404,3.028388 13.653536,5.509256 13.653536,8.567492 C13.653536,9.0023 13.702244,9.424904 13.797176,9.830552 C9.19346,9.599108 5.11106,7.39472 2.3792,4.04294 C1.903028,4.861364 1.629032,5.812628 1.629032,6.827072 C1.629032,8.74904 2.606972,10.445612 4.094024,11.438132 C3.185528,11.41016 2.331788,11.160464 1.585184,10.745096 C1.583888,10.768208 1.583888,10.791428 1.583888,10.815728 C1.583888,13.49888 3.493652,15.738584 6.028088,16.246508 C5.562932,16.373084 5.07326,16.44134 4.56782,16.44134 C4.210988,16.44134 3.863876,16.406024 3.526484,16.34144 C4.231724,18.542264 6.276596,20.143796 8.701412,20.18894 C6.805148,21.674696 4.416836,22.56008 1.821488,22.56008 C1.374476,22.56008 0.93362,22.534592 0.5,22.4834 C2.951708,24.054476 5.862524,24.971612 8.991284,24.971612"></path>
        </svg>
    </a>
    {{ end }}

    {{ if isset .Site.Params "instagram" }}
    <a class="social-icon" href="{{ .Site.Params.Instagram }}" target="_blank" rel="noopener" title="Instagram">
        <svg width="28px" height="28px" viewBox="0 0 28 28" version="1.1" fill="#ABABAB" xmlns="https://www.w3.org/2000/svg" xmlns:xlink="https://www.w3.org/1999/xlink">
             <path d="M14.0000238,2.00378571 C17.2579762,2.00378571 17.6665,2.01759524 18.9460238,2.07597619 C20.222881,2.13421429 21.0949286,2.33702381 21.8579762,2.63359524 C22.6468333,2.94011905 23.3158333,3.35030952 23.9827857,4.01721429 C24.6496905,4.68416667 25.059881,5.35316667 25.3664524,6.14202381 C25.6629762,6.90507143 25.8657857,7.77711905 25.9240238,9.05397619 C25.9824048,10.3335 25.9962143,10.7420238 25.9962143,14.0000238 C25.9962143,17.2579762 25.9824048,17.6665 25.9240238,18.9460238 C25.8657857,20.222881 25.6629762,21.0949286 25.3664524,21.8579762 C25.059881,22.6468333 24.6496905,23.3158333 23.9827857,23.9827857 C23.3158333,24.6496905 22.6468333,25.059881 21.8579762,25.3664524 C21.0949286,25.6629762 20.222881,25.8657857 18.9460238,25.9240238 C17.6665,25.9824048 17.2579762,25.9962143 14.0000238,25.9962143 C10.7420238,25.9962143 10.3335,25.9824048 9.05397619,25.9240238 C7.77711905,25.8657857 6.90507143,25.6629762 6.14202381,25.3664524 C5.35316667,25.059881 4.68416667,24.6496905 4.01721429,23.9827857 C3.35030952,23.3158333 2.94011905,22.6468333 2.63359524,21.8579762 C2.33702381,21.0949286 2.13421429,20.222881 2.07597619,18.9460238 C2.01759524,17.6665 2.00378571,17.2579762 2.00378571,14.0000238 C2.00378571,10.7420238 2.01759524,10.3335 2.07597619,9.05397619 C2.13421429,7.77711905 2.33702381,6.90507143 2.63359524,6.14202381 C2.94011905,5.35316667 3.35030952,4.68416667 4.01721429,4.01721429 C4.68416667,3.35030952 5.35316667,2.94011905 6.14202381,2.63359524 C6.90507143,2.33702381 7.77711905,2.13421429 9.05397619,2.07597619 C10.3335,2.01759524 10.7420238,2.00378571 14.0000238,2.00378571 Z M14.0000238,4.1652619 C10.796881,4.1652619 10.4174524,4.1775 9.1525,4.23521429 C7.98288095,4.28854762 7.34769048,4.48397619 6.92497619,4.6482619 C6.36502381,4.86588095 5.96540476,5.12583333 5.54564286,5.54564286 C5.12583333,5.96540476 4.86588095,6.36502381 4.6482619,6.92497619 C4.48397619,7.34769048 4.28854762,7.98288095 4.23521429,9.1525 C4.1775,10.4174524 4.1652619,10.796881 4.1652619,14.0000238 C4.1652619,17.203119 4.1775,17.5825476 4.23521429,18.8475 C4.28854762,20.017119 4.48397619,20.6523095 4.6482619,21.0750238 C4.86588095,21.6349762 5.12588095,22.0345952 5.54564286,22.4543571 C5.96540476,22.8741667 6.36502381,23.134119 6.92497619,23.3517381 C7.34769048,23.5160238 7.98288095,23.7114524 9.1525,23.7647857 C10.4173095,23.8225 10.7966429,23.8347381 14.0000238,23.8347381 C17.2033571,23.8347381 17.5827381,23.8225 18.8475,23.7647857 C20.017119,23.7114524 20.6523095,23.5160238 21.0750238,23.3517381 C21.6349762,23.134119 22.0345952,22.8741667 22.4543571,22.4543571 C22.8741667,22.0345952 23.134119,21.6349762 23.3517381,21.0750238 C23.5160238,20.6523095 23.7114524,20.017119 23.7647857,18.8475 C23.8225,17.5825476 23.8347381,17.203119 23.8347381,14.0000238 C23.8347381,10.796881 23.8225,10.4174524 23.7647857,9.1525 C23.7114524,7.98288095 23.5160238,7.34769048 23.3517381,6.92497619 C23.134119,6.36502381 22.8741667,5.96540476 22.4543571,5.54564286 C22.0345952,5.12583333 21.6349762,4.86588095 21.0750238,4.6482619 C20.6523095,4.48397619 20.017119,4.28854762 18.8475,4.23521429 C17.5825476,4.1775 17.203119,4.1652619 14.0000238,4.1652619 Z M14.0000238,17.9987381 C16.2084524,17.9987381 17.9987381,16.2084524 17.9987381,14.0000238 C17.9987381,11.7915476 16.2084524,10.0012619 14.0000238,10.0012619 C11.7915476,10.0012619 10.0012619,11.7915476 10.0012619,14.0000238 C10.0012619,16.2084524 11.7915476,17.9987381 14.0000238,17.9987381 Z M14.0000238,7.83978571 C17.4022143,7.83978571 20.1602143,10.5977857 20.1602143,14.0000238 C20.1602143,17.4022143 17.4022143,20.1602143 14.0000238,20.1602143 C10.5977857,20.1602143 7.83978571,17.4022143 7.83978571,14.0000238 C7.83978571,10.5977857 10.5977857,7.83978571 14.0000238,7.83978571 Z M21.8431667,7.59640476 C21.8431667,8.39145238 21.1986429,9.03592857 20.4035952,9.03592857 C19.6085952,9.03592857 18.9640714,8.39145238 18.9640714,7.59640476 C18.9640714,6.80135714 19.6085952,6.15683333 20.4035952,6.15683333 C21.1986429,6.15683333 21.8431667,6.80135714 21.8431667,7.59640476 Z"></path>
        </svg>
    </a>
    {{ end }}

    {{ if isset .Site.Params "tumblr" }}
    <a class="social-icon" href="{{ .Site.Params.Tumblr }}" target="_blank" rel="noopener" title="Tumblr">
        <svg width="28px" height="28px" viewBox="0 0 28 28" version="1.1" fill="#ABABAB" xmlns="https://www.w3.org/2000/svg" xmlns:xlink="https://www.w3.org/1999/xlink">
            <path d="M16.7849881,26 C13.1761014,26 10.4860048,24.1431405 10.4860048,19.7005648 L10.4860048,12.5858165 L7.20547257,12.5858165 L7.20547257,8.73337517 C10.8158654,7.79605874 12.325091,4.68994603 12.4998117,2 L16.24727,2 L16.24727,8.10844735 L20.6198067,8.10844735 L20.6198067,12.5858165 L16.24727,12.5858165 L16.24727,18.7810217 C16.24727,20.6380319 17.1841346,21.2798293 18.6767918,21.2798293 L20.7945274,21.2798293 L20.7945274,26 L16.7849881,26"></path>
        </svg>
    </a>
    {{ end }}

    {{ if isset .Site.Params "reddit" }}
    <a class="social-icon" href="{{ .Site.Params.Reddit }}" target="_blank" rel="noopener" title="Reddit">
        <svg width="28px" height="28px" viewBox="0 0 28 28" version="1.1" fill="#ABABAB" xmlns="https://www.w3.org/2000/svg" xmlns:xlink="https://www.w3.org/1999/xlink">
            <path d="M13.9848837,26.9093023 C6.84692443,26.9093023 1.06046512,21.122843 1.06046512,13.9848837 C1.06046512,6.84692443 6.84692443,1.06046512 13.9848837,1.06046512 C21.122843,1.06046512 26.9093023,6.84692443 26.9093023,13.9848837 C26.9093023,21.122843 21.122843,26.9093023 13.9848837,26.9093023 Z M22.6011628,13.9848837 C22.6011628,12.9418605 21.7546512,12.0953488 20.7116279,12.0953488 C20.1976744,12.0953488 19.744186,12.2918605 19.4116279,12.6244186 C18.1267442,11.7023256 16.3430233,11.0976744 14.377907,11.022093 L15.2395349,6.98604651 L18.0360465,7.5755814 C18.0662791,8.28604651 18.655814,8.86046512 19.3813953,8.86046512 C20.122093,8.86046512 20.7267442,8.25581395 20.7267442,7.51511628 C20.7267442,6.7744186 20.122093,6.16976744 19.3813953,6.16976744 C18.8523256,6.16976744 18.3988372,6.47209302 18.1872093,6.9255814 L15.0581395,6.26046512 C14.9674419,6.24534884 14.8767442,6.26046512 14.8011628,6.30581395 C14.7255814,6.35116279 14.6802326,6.42674419 14.65,6.51744186 L13.6976744,11.022093 C11.6872093,11.0825581 9.88837209,11.672093 8.58837209,12.6244186 C8.25581395,12.3069767 7.7872093,12.0953488 7.28837209,12.0953488 C6.24534884,12.0953488 5.39883721,12.9418605 5.39883721,13.9848837 C5.39883721,14.755814 5.85232558,15.405814 6.51744186,15.7081395 C6.4872093,15.8895349 6.47209302,16.0860465 6.47209302,16.2825581 C6.47209302,19.1848837 9.84302326,21.527907 14.0151163,21.527907 C18.1872093,21.527907 21.5581395,19.1848837 21.5581395,16.2825581 C21.5581395,16.0860465 21.5430233,15.9046512 21.5127907,15.7232558 C22.1325581,15.4209302 22.6011628,14.755814 22.6011628,13.9848837 Z M9.67674419,15.3302326 C9.67674419,14.5895349 10.2813953,13.9848837 11.022093,13.9848837 C11.7627907,13.9848837 12.3674419,14.5895349 12.3674419,15.3302326 C12.3674419,16.0709302 11.7627907,16.6755814 11.022093,16.6755814 C10.2813953,16.6755814 9.67674419,16.0709302 9.67674419,15.3302326 Z M17.1895349,18.8825581 C16.2674419,19.8046512 14.5139535,19.8651163 14,19.8651163 C13.4860465,19.8651163 11.7174419,19.7895349 10.8104651,18.8825581 C10.6744186,18.7465116 10.6744186,18.5197674 10.8104651,18.3837209 C10.9465116,18.2476744 11.1732558,18.2476744 11.3093023,18.3837209 C11.8837209,18.9581395 13.1232558,19.1697674 14.0151163,19.1697674 C14.9069767,19.1697674 16.1313953,18.9581395 16.7209302,18.3837209 C16.8569767,18.2476744 17.0837209,18.2476744 17.2197674,18.3837209 C17.3255814,18.5348837 17.3255814,18.7465116 17.1895349,18.8825581 Z M16.9476744,16.6755814 C16.2069767,16.6755814 15.6023256,16.0709302 15.6023256,15.3302326 C15.6023256,14.5895349 16.2069767,13.9848837 16.9476744,13.9848837 C17.6883721,13.9848837 18.2930233,14.5895349 18.2930233,15.3302326 C18.2930233,16.0709302 17.6883721,16.6755814 16.9476744,16.6755814 Z" ></path>
        </svg>
    </a>
    {{ end }}

    {{ if isset .Site.Params "pinterest" }}
    <a class="social-icon" href="{{ .Site.Params.Pinterest }}" target="_blank" rel="noopener" title="Pinterest">
        <svg width="28px" height="28px" viewBox="0 0 28 28" version="1.1" fill="#ABABAB" xmlns="https://www.w3.org/2000/svg" xmlns:xlink="https://www.w3.org/1999/xlink">
            <path d="M14.0106614,1 C6.83714167,1 1.02135219,6.81578947 1.02135219,13.9893092 C1.02135219,19.4950658 4.44240483,24.1990132 9.27464167,26.0912829 C9.15704298,25.0649671 9.06082588,23.4827303 9.31740483,22.3601974 C9.55260219,21.3445724 10.8354969,15.9029605 10.8354969,15.9029605 C10.8354969,15.9029605 10.4506285,15.1225329 10.4506285,13.9786184 C10.4506285,12.171875 11.4983259,10.8248355 12.8026022,10.8248355 C13.9144443,10.8248355 14.4489838,11.6587171 14.4489838,12.6529605 C14.4489838,13.7648026 13.7433917,15.4325658 13.369214,16.9827303 C13.0591811,18.2763158 14.0213522,19.3347039 15.2935561,19.3347039 C17.6027667,19.3347039 19.3774377,16.8972039 19.3774377,13.390625 C19.3774377,10.2796053 17.1430627,8.109375 13.9465167,8.109375 C10.2475035,8.109375 8.07727325,10.8782895 8.07727325,13.7434211 C8.07727325,14.8552632 8.50490483,16.0526316 9.0394443,16.7047697 C9.14635219,16.8330592 9.15704298,16.9506579 9.12497062,17.0789474 C9.02875351,17.4851974 8.80424693,18.3725329 8.76148377,18.5542763 C8.70802983,18.7894737 8.56904956,18.8429276 8.32316141,18.7253289 C6.69816141,17.9662829 5.68253641,15.6036184 5.68253641,13.6899671 C5.68253641,9.59539474 8.65457588,5.83223684 14.2672404,5.83223684 C18.7680627,5.83223684 22.2746417,9.03947368 22.2746417,13.3371711 C22.2746417,17.8166118 19.4522732,21.4194079 15.5394443,21.4194079 C14.2244772,21.4194079 12.9843456,20.7351974 12.5674048,19.9226974 C12.5674048,19.9226974 11.9152667,22.4029605 11.7549048,23.0123355 C11.4662535,24.1455592 10.6751351,25.5567434 10.1405956,26.4226974 C11.3593456,26.796875 12.6422404,27 13.9892798,27 C21.1627996,27 26.978589,21.1842105 26.978589,14.0106908 C26.9999706,6.81578947 21.1841811,1 14.0106614,1 Z"></path>
        </svg>
    </a>
    {{ end }}

    {{ if isset .Site.Params "youtube" }}
    <a class="social-icon" href="{{ .Site.Params.Youtube }}" target="_blank" rel="noopener" title="YouTube">
        <svg width="28px" height="28px" viewBox="0 0 28 28" version="1.1" fill="#ABABAB" xmlns="https://www.w3.org/2000/svg" xmlns:xlink="https://www.w3.org/1999/xlink">
            <path d="M25.9775568,20.4086648 C25.6900568,21.4913352 24.8430398,22.343892 23.7673295,22.6332386 C21.8177557,23.1590909 14,23.1590909 14,23.1590909 C14,23.1590909 6.18228693,23.1590909 4.23265625,22.6332386 C3.15704545,22.343892 2.30988068,21.4913352 2.02240483,20.4086648 C1.5,18.4464062 1.5,14.3522727 1.5,14.3522727 C1.5,14.3522727 1.5,10.258196 2.02240483,8.29575284 C2.30988068,7.21321023 3.15704545,6.36066193 4.23265625,6.07118892 C6.18228693,5.54545455 14,5.54545455 14,5.54545455 C14,5.54545455 21.8177557,5.54545455 23.7673295,6.07118892 C24.8430398,6.36066193 25.6900568,7.21321023 25.9775568,8.29575284 C26.5,10.258196 26.5,14.3522727 26.5,14.3522727 C26.5,14.3522727 26.5,18.4464062 25.9775568,20.4086648 Z M11.4431818,10.6351278 L11.4431818,18.0694318 L17.9772727,14.3521023 L11.4431818,10.6351278 Z"></path>
        </svg>
    </a>
    {{ end }}

    {{ if isset .Site.Params "vimeo" }}
    <a class="social-icon" href="{{ .Site.Params.Vimeo }}" target="_blank" rel="noopener" title="Vimeo">
        <!-- Vimeo icon by https://icons8.com/icons/set/vimeo -->
        <svg width="28px" height="28px" viewBox="0 0 50 50" version="1.1" fill="#ABABAB" xmlns="https://www.w3.org/2000/svg" xmlns:xlink="https://www.w3.org/1999/xlink">
            <path d="M 41 5 C 34.210938 4.992188 30.46875 8.796875 28.167969 16.210938 C 29.371094 15.765625 30.578125 15.214844 31.671875 15.214844 C 33.972656 15.214844 34.738281 16.070313 34.410156 18.726563 C 34.300781 20.386719 33.644531 23.066406 31.671875 26.164063 C 29.699219 29.152344 27.984375 30 27 30 C 25.796875 30 24.882813 28.269531 23.898438 23.621094 C 23.570313 22.292969 22.804688 19.304688 21.925781 13.664063 C 21.160156 8.464844 18.613281 5.667969 15 6 C 13.46875 6.109375 11.636719 7.535156 8.570313 10.191406 C 6.378906 12.183594 4.300781 13.621094 2 15.613281 L 4.191406 18.421875 C 6.269531 16.984375 7.476563 16.429688 7.804688 16.429688 C 9.335938 16.429688 10.757813 18.863281 12.183594 23.84375 C 13.386719 28.378906 14.699219 32.914063 15.90625 37.449219 C 17.765625 42.429688 20.066406 44.863281 22.695313 44.863281 C 27.074219 44.863281 32.328125 40.882813 38.570313 32.695313 C 44.699219 24.949219 47.78125 18.535156 48 14 C 48.21875 8.027344 45.816406 5.109375 41 5 Z"/>
        </svg>
    </a>
    {{ end }}

    {{ if isset .Site.Params "weibo" }}
    <a class="social-icon" href="{{ .Site.Params.Weibo }}" target="_blank" rel="noopener" title="Weibo">
        <svg width="28px" height="28px" viewBox="0 0 28 28" version="1.1" fill="#ABABAB" xmlns="https://www.w3.org/2000/svg" xmlns:xlink="https://www.w3.org/1999/xlink">
            <path d="M11.7643305,23.68043 C16.3966564,23.2245381 19.9124334,20.3848721 19.6072176,17.3404411 C19.3097287,14.2998735 15.3071519,12.2019978 10.6709625,12.6617533 C6.03863666,13.1215087 2.52285972,15.9573112 2.82421203,19.0017422 C3.12556434,22.0423098 7.12814116,24.1401855 11.7643305,23.68043 Z M21.0328458,13.5774007 C22.6400581,14.075791 24.4288545,15.2812003 24.424991,17.4061204 C24.424991,20.9180339 19.3599541,25.3417312 11.7450131,25.3417312 C5.93818589,25.3417312 -2.23820962e-13,22.5252462 -2.23820962e-13,17.8967838 C-2.23820962e-13,15.4743748 1.53380598,12.6733438 4.17257044,10.0345793 C7.69993785,6.50721189 11.8145559,4.89999957 13.3599524,6.44925952 C14.0399268,7.13309745 14.1056062,8.31146225 13.6690317,9.72163652 C13.4372222,10.4286554 14.3335521,10.0384428 14.3335521,10.0384428 C17.1848086,8.84462403 19.6728969,8.77508119 20.5808173,10.0732142 C21.0676172,10.7686426 21.0212553,11.7383789 20.5730903,12.8626548 C20.3683253,13.3803626 20.6387697,13.4576325 21.0328458,13.5774007 Z M26.0901557,5.1047646 C27.9291775,7.14082443 28.4275678,9.91867457 27.6394156,12.3488105 C27.6394156,12.3488105 27.6394156,12.352674 27.6394156,12.352674 C27.4578316,12.9128802 26.8551269,13.2219595 26.2910572,13.0403754 C25.7269875,12.8587913 25.4179082,12.2560867 25.5994923,11.692017 C26.1596985,9.96117297 25.8042573,7.98692899 24.4983973,6.53811982 C23.1925373,5.08931064 21.2646553,4.5368314 19.4835858,4.91545354 C18.9040622,5.03908525 18.336129,4.67205359 18.2124973,4.09252992 C18.0888655,3.51686974 18.4558972,2.94507305 19.0354209,2.82144134 C21.5389631,2.28827956 24.2511339,3.06484128 26.0901557,5.1047646 Z M23.2659437,7.65466876 C24.1622736,8.64758598 24.4018101,9.99980788 24.0193244,11.1858997 C23.8609213,11.6726995 23.3432135,11.9354169 22.8564136,11.7808773 C22.3696137,11.6224742 22.1068963,11.1009029 22.261436,10.6179665 C22.450747,10.0384428 22.3309788,9.37778581 21.8944043,8.89098592 C21.4578298,8.40804953 20.8087633,8.22260195 20.2137857,8.35009716 C19.7192588,8.45827491 19.2285954,8.14146864 19.1204177,7.64307828 C19.0161034,7.14468793 19.3329097,6.65016106 19.8313,6.5458468 C21.0482998,6.2831294 22.3696137,6.66175153 23.2659437,7.65466876 Z M12.0193209,18.1710916 C12.1738606,17.8890568 12.0734098,17.576114 11.7952385,17.4756632 C11.5209306,17.3674855 11.1770799,17.4988442 11.0148133,17.7692886 C10.8564101,18.039733 10.9414069,18.3526757 11.2195783,18.464717 C11.4977496,18.5806217 11.8570543,18.449263 12.0193209,18.1710916 Z M10.5396038,20.0642023 C10.9800418,19.3417295 10.7482324,18.5188059 10.021896,18.2058631 C9.30328667,17.9045108 8.3760488,18.2135901 7.93174732,18.9090185 C7.48358235,19.6083104 7.69607436,20.438961 8.40695673,20.7634942 C9.12942957,21.091891 10.0914389,20.7789482 10.5396038,20.0642023 Z M12.224086,15.0030289 C14.5074092,15.5941431 15.6741836,17.7461076 14.7392187,19.8401198 C13.7926634,21.9766304 11.0727656,23.1202238 8.76239791,22.37457 C6.53702702,21.6559607 5.59047169,19.4537707 6.56793494,17.4717998 C7.52608075,15.5284637 10.0180325,14.4273687 12.224086,15.0030289 Z"></path>
        </svg>
    </a>
    {{ end }}

    {{ if isset .Site.Params "vk" }}
    <a class="social-icon" href="{{ .Site.Params.Vk }}" target="_blank" rel="noopener" title="VK">
        <svg width="28px" height="28px" viewBox="0 0 28 28" version="1.1" fill="#ABABAB" xmlns="https://www.w3.org/2000/svg" xmlns:xlink="https://www.w3.org/1999/xlink">
            <path d="M10.1666667,1.5 C17.1666667,1.5 10.8333333,1.5 17.8333333,1.5 C24.8333333,1.5 26.5,3.16666667 26.5,10.1666667 C26.5,17.1666667 26.5,10.8333333 26.5,17.8333333 C26.5,24.8333333 24.8333333,26.5 17.8333333,26.5 C10.8333333,26.5 17.1666667,26.5 10.1666667,26.5 C3.16666667,26.5 1.5,24.8333333 1.5,17.8333333 C1.5,10.8333333 1.5,14.0755637 1.5,10.1666667 C1.5,3.16666667 3.16666667,1.5 10.1666667,1.5 Z M21.9731762,10.1127892 C22.0890048,9.7265328 21.9731763,9.44270833 21.4219068,9.44270833 L19.5989901,9.44270833 C19.1354824,9.44270833 18.9217988,9.68789108 18.8059057,9.95825449 C18.8059057,9.95825449 17.8788904,12.2178304 16.5656508,13.6855726 C16.1407848,14.1104386 15.9476405,14.2456203 15.7158866,14.2456203 C15.6000258,14.2456203 15.4322917,14.1104386 15.4322917,13.7242143 L15.4322917,10.1127892 C15.4322917,9.64928151 15.2977786,9.44270833 14.9114901,9.44270833 L12.0469068,9.44270833 C11.7572547,9.44270833 11.5830556,9.65783284 11.5830556,9.86171451 C11.5830556,10.3011113 12.2396433,10.4024413 12.3073235,11.6384618 L12.3073235,14.3229037 C12.3073235,14.9114583 12.2010337,15.0181652 11.9692799,15.0181652 C11.3513017,15.0181652 9.84806832,12.7484949 8.95651201,10.1513988 C8.78178845,9.64661324 8.60654342,9.44270833 8.14065678,9.44270833 L6.31774012,9.44270833 C5.79690678,9.44270833 5.69273376,9.68789108 5.69273376,9.95825449 C5.69273376,10.441083 6.31074402,12.8358406 8.57028775,16.0030789 C10.0766395,18.1660505 12.1989902,19.3385417 14.1302401,19.3385417 C15.2889772,19.3385417 15.4323234,19.078125 15.4323234,18.6295582 L15.4323234,16.9947917 C15.4323234,16.4739583 15.5420953,16.3700145 15.9090309,16.3700145 C16.1793944,16.3700145 16.6429021,16.5051961 17.7244199,17.5480724 C18.9604083,18.7840607 19.1641773,19.3385417 19.8594068,19.3385417 L21.6823234,19.3385417 C22.2031568,19.3385417 22.4635734,19.078125 22.3133431,18.5642073 C22.1489461,18.0520066 21.5588284,17.3088717 20.7757974,16.4279449 C20.3508992,15.9258276 19.7136003,15.3851008 19.520456,15.114673 C19.2500926,14.7670905 19.3273439,14.6125559 19.520456,14.3035828 C19.520456,14.3035828 21.7414223,11.1749541 21.9731762,10.1127892 Z"></path>
        </svg>
    </a>
    {{ end }}

    {{ if isset .Site.Params "linkedin" }}
    <a class="social-icon" href="{{ .Site.Params.Linkedin }}" target="_blank" rel="noopener" title="LinkedIn">
        <svg width="28px" height="28px" viewBox="0 0 28 28" version="1.1" fill="#ABABAB" xmlns="https://www.w3.org/2000/svg" xmlns:xlink="https://www.w3.org/1999/xlink">
            <path d="M2,3.654102 C2,2.69908141 2.79442509,1.92397846 3.77383592,1.92397846 L24.2261641,1.92397846 C25.2058917,1.92397846 26,2.69908141 26,3.654102 L26,24.3462148 C26,25.3015521 25.2058917,26.0760215 24.2261641,26.0760215 L3.77383592,26.0760215 C2.79442509,26.0760215 2,25.3015521 2,24.3465315 L2,3.65378524 L2,3.654102 Z M9.27526132,22.1415901 L9.27526132,11.2356668 L5.65030092,11.2356668 L5.65030092,22.1415901 L9.27557808,22.1415901 L9.27526132,22.1415901 Z M7.46341463,9.74691162 C8.72727273,9.74691162 9.51409566,8.90940767 9.51409566,7.86284447 C9.49033893,6.79252455 8.72727273,5.97846056 7.48748812,5.97846056 C6.24675325,5.97846056 5.43649034,6.79252455 5.43649034,7.86284447 C5.43649034,8.90940767 6.22299652,9.74691162 7.4396579,9.74691162 L7.46309788,9.74691162 L7.46341463,9.74691162 Z M11.2815965,22.1415901 L14.9062401,22.1415901 L14.9062401,16.0519481 C14.9062401,15.7263225 14.9299968,15.4000634 15.0256573,15.1675641 C15.2876148,14.5159962 15.8840672,13.8416218 16.8856509,13.8416218 C18.1970225,13.8416218 18.7218879,14.8416218 18.7218879,16.3078872 L18.7218879,22.1415901 L22.3465315,22.1415901 L22.3465315,15.8885017 C22.3465315,12.5388027 20.5584416,10.9800443 18.1735825,10.9800443 C16.2182452,10.9800443 15.3595185,12.072854 14.8824834,12.8172315 L14.9065569,12.8172315 L14.9065569,11.2359835 L11.2819132,11.2359835 C11.3291099,12.2591067 11.2815965,22.1419069 11.2815965,22.1419069 L11.2815965,22.1415901 Z"></path>
        </svg>
    </a>
    {{ end }}

    {{ if isset .Site.Params "medium" }}
    <a class="social-icon" href="{{ .Site.Params.Medium }}" target="_blank" rel="noopener" title="Medium">
        <svg width="28px" height="28px" viewBox="0 0 28 28" version="1.1" fill="#ABABAB" xmlns="https://www.w3.org/2000/svg" xmlns:xlink="https://www.w3.org/1999/xlink">
            <path d="M2,2 L26,2 L26,26 L2,26 L2,2 Z M7.72727142,10.0265545 L7.72727142,17.1527156 C7.77112416,17.4097828 7.69008764,17.6723786 7.50898513,17.8600642 L5.81538462,19.9143852 L5.81538462,20.1852847 L10.617683,20.1852847 L10.617683,19.9143852 L8.92408245,17.8600642 C8.74165168,17.6726892 8.65559727,17.4118239 8.69074193,17.1527156 L8.69074193,10.9897526 L12.9059255,20.1852847 L13.3951878,20.1852847 L17.0157294,10.9897526 L17.0157294,18.3190884 C17.0157294,18.514738 17.0157294,18.5523628 16.8877685,18.6802876 L15.5855778,19.9444852 L15.5855778,20.2153846 L21.9083531,20.2153846 L21.9083531,19.9444852 L20.6513252,18.7103876 C20.5403599,18.6258033 20.4853154,18.4867833 20.50831,18.3491883 L20.50831,9.28158097 C20.4853154,9.14398599 20.5403599,9.00496587 20.6513252,8.92038167 L21.9384615,7.68628409 L21.9384615,7.41538462 L17.4824105,7.41538462 L14.3059685,15.3391941 L10.6929541,7.41538462 L6.01861668,7.41538462 L6.01861668,7.68628409 L7.52403936,9.49980554 C7.67182769,9.63301305 7.74730311,9.82863473 7.72727142,10.0265545 Z"></path>
        </svg>
    </a>
    {{ end }}

    {{ if isset .Site.Params "blogger" }}
    <a class="social-icon" href="{{ .Site.Params.Blogger }}" target="_blank" rel="noopener" title="Blogger">
        <svg width="28px" height="28px" viewBox="0 0 28 28" version="1.1" fill="#ABABAB" xmlns="https://www.w3.org/2000/svg" xmlns:xlink="https://www.w3.org/1999/xlink">
            <path d="M16.4225354,15.183099 C16.7605636,15.183099 17.0422536,15.3145545 17.2676055,15.5774654 C17.4929581,15.8028172 17.6056345,16.0845072 17.6056345,16.4225354 C17.6056345,16.7605636 17.4929581,17.0422536 17.2676055,17.2676055 C17.0422536,17.4929581 16.7605636,17.6056345 16.4225354,17.6056345 L11.5211272,17.6056345 C11.183099,17.6056345 10.9014088,17.4929581 10.6760564,17.2676055 C10.4507043,17.0422536 10.3380283,16.7605636 10.3380283,16.4225354 C10.3380283,16.0845072 10.4507043,15.8028172 10.6760564,15.5774654 C10.9014088,15.3145545 11.183099,15.183099 11.5211272,15.183099 L16.4225354,15.183099 Z M11.5211272,11.5774646 C11.183099,11.5774646 10.9014088,11.4647886 10.6760564,11.2394368 C10.4507043,11.0140849 10.3380283,10.7323948 10.3380283,10.3943664 C10.3380283,10.0563382 10.4507043,9.77464807 10.6760564,9.54929597 C10.9014088,9.3239438 11.183099,9.21126771 11.5211272,9.21126771 L14.6760568,9.21126771 C15.0140849,9.21126771 15.295775,9.3239438 15.5211268,9.54929597 C15.7464787,9.77464807 15.8591546,10.0563382 15.8591546,10.3943664 C15.8591546,10.7323948 15.7464787,11.0140849 15.5211268,11.2394368 C15.295775,11.4647886 15.0140849,11.5774646 14.6760568,11.5774646 L11.5211272,11.5774646 Z M18.7887323,11.5774646 L18.7887323,9.21126771 C18.7887323,8.23474189 18.431925,7.38967148 17.7183104,6.67605648 C17.004695,5.9624414 16.1596245,5.60563386 15.183099,5.60563386 L10.3943663,5.60563386 C9.41784045,5.60563386 8.57277003,5.9624414 7.85915503,6.67605648 C7.14553995,7.38967148 6.78873241,8.23474189 6.78873241,9.21126771 L6.78873241,17.6056345 C6.78873241,18.58216 7.14553995,19.4272304 7.85915503,20.1408458 C8.57277003,20.8544604 9.41784045,21.2112677 10.3943663,21.2112677 L17.6056345,21.2112677 C18.58216,21.2112677 19.4272304,20.8544604 20.1408458,20.1408458 C20.8544604,19.4272304 21.2112677,18.58216 21.2112677,17.6056345 L21.2112677,14 C21.2112677,13.6619718 21.0985918,13.3802818 20.8732399,13.1549299 C20.6478873,12.9295781 20.3661969,12.8169022 20.0281687,12.8169022 C19.6901405,12.8169022 19.3896714,12.7042258 19.1267613,12.4788732 C18.9014086,12.2159623 18.7887323,11.9154928 18.7887323,11.5774646 L18.7887323,11.5774646 Z M23.6338031,2 C24.2723005,2 24.8169014,2.24413145 25.2676059,2.73239436 C25.7558686,3.18309863 26,3.72769958 26,4.36619722 L26,23.6338031 C26,24.2723005 25.7558686,24.8356809 25.2676059,25.3239444 C24.8169014,25.7746481 24.2723005,26 23.6338031,26 L4.36619722,26 C3.7276995,26 3.16431919,25.7746481 2.67605628,25.3239444 C2.22535209,24.8356809 2,24.2723005 2,23.6338031 L2,4.36619722 C2,3.72769958 2.22535209,3.18309863 2.67605628,2.73239436 C3.16431919,2.24413145 3.7276995,2 4.36619722,2 L23.6338031,2 Z"></path>
        </svg>
    </a>
    {{ end }}

    {{ if isset .Site.Params "wordpress" }}
    <a class="social-icon" href="{{ .Site.Params.Wordpress }}" target="_blank" rel="noopener" title="WordPress">
        <svg width="28px" height="28px" viewBox="0 0 28 28" version="1.1" fill="#ABABAB" xmlns="https://www.w3.org/2000/svg" xmlns:xlink="https://www.w3.org/1999/xlink">
            <path d="M23.8616583,8.6080289 C24.7389027,10.2086825 25.2381067,12.0455783 25.2381067,13.999537 C25.2381067,18.1456809 22.9911599,21.7655045 19.6500386,23.7135109 L23.0825616,13.7889561 C23.723696,12.185657 23.9371871,10.9036526 23.9371871,9.7637111 C23.9371871,9.3499565 23.9099385,8.96596366 23.8616583,8.6080289 L23.8616583,8.6080289 Z M15.5487358,8.7303828 C16.2253199,8.69480096 16.834973,8.62363729 16.834973,8.62363729 C17.4405256,8.55194452 17.3690974,7.66200176 16.7632802,7.69745132 C16.7632802,7.69745132 14.9429187,7.84030777 13.7677921,7.84030777 C12.6635647,7.84030777 10.8080182,7.69745132 10.8080182,7.69745132 C10.2019365,7.66200176 10.1309051,8.5877909 10.7367222,8.62363729 C10.7367222,8.62363729 11.3099999,8.69480096 11.9155525,8.7303828 L13.6663376,13.5278462 L11.2065612,20.9038685 L7.1142531,8.7303828 C7.79136621,8.69480096 8.40035795,8.62363729 8.40035795,8.62363729 C9.00551374,8.55194452 8.93408551,7.66200176 8.32853291,7.69745132 C8.32853291,7.69745132 6.50856822,7.84030777 5.33330939,7.84030777 C5.12246386,7.84030777 4.8739201,7.83514906 4.61003249,7.8266835 C6.61954652,4.7759047 10.073498,2.76123197 13.9999339,2.76123197 C16.925581,2.76123197 19.5895892,3.87987732 21.5889181,5.71187898 C21.5405056,5.70896894 21.4932836,5.70288431 21.4434161,5.70288431 C20.3394533,5.70288431 19.5561237,6.66451984 19.5561237,7.69745132 C19.5561237,8.62363729 20.0905127,9.40723136 20.6600866,10.333285 C21.0874655,11.0818264 21.5866694,12.0433296 21.5866694,13.4327409 C21.5866694,14.3945087 21.2166977,15.5107731 20.7315148,17.065792 L19.610224,20.8111441 L15.5487358,8.7303828 Z M13.9999339,25.238768 C12.8967646,25.238768 11.8320873,25.0769963 10.8249493,24.7808338 L14.1972874,14.982601 L17.6515034,24.4467084 C17.6742546,24.5022637 17.7021645,24.5534539 17.7319263,24.6016018 C16.5638103,25.0128432 15.3086576,25.238768 13.9999339,25.238768 L13.9999339,25.238768 Z M2.76162879,13.999537 C2.76162879,12.3701799 3.11109799,10.8234943 3.7347722,9.42588206 L9.09572494,24.1139058 C5.34640457,22.2924861 2.76162879,18.4479281 2.76162879,13.999537 L2.76162879,13.999537 Z M13.9999339,1.49999473 C7.1075071,1.49999473 1.500127,7.10724256 1.500127,13.999537 C1.500127,20.8920961 7.1075071,26.5000053 13.9999339,26.5000053 C20.8922283,26.5000053 26.499873,20.8920961 26.499873,13.999537 C26.499873,7.10724256 20.8922283,1.49999473 13.9999339,1.49999473 L13.9999339,1.49999473 Z"></path>
        </svg>
    </a>
    {{ end }}

    {{ if isset .Site.Params "dribbble" }}
    <a class="social-icon" href="{{ .Site.Params.Dribbble }}" target="_blank" rel="noopener" title="Dribbble">
        <svg width="28px" height="28px" viewBox="0 0 28 28" version="1.1" fill="#ABABAB" xmlns="https://www.w3.org/2000/svg" xmlns:xlink="https://www.w3.org/1999/xlink">
            <path d="M14,1.5 C7.09925,1.5 1.5,7.09925 1.5,14 C1.5,20.90075 7.09925,26.5 14,26.5 C20.8872,26.5 26.5,20.90075 26.5,14 C26.5,7.09925 20.8872,1.5 14,1.5 Z M22.2565,7.261925 C23.747825,9.078625 24.642625,11.396975 24.66975,13.9051 C24.31725,13.8373 20.7923,13.118775 17.24025,13.56615 C17.1589,13.389925 17.0911,13.2001 17.009775,13.0103 C16.79285,12.495125 16.5488,11.966375 16.304775,11.46475 C20.23645,9.864975 22.026025,7.5602 22.2565,7.261925 Z M14,3.3438175 C16.7115,3.3438175 19.192525,4.360625 21.077,6.0282 C20.8872,6.29935 19.27385,8.455 15.477775,9.878525 C13.72885,6.6654 11.790125,4.03525 11.491875,3.628525 C12.29175,3.43872 13.132325,3.3438175 14,3.3438175 Z M9.45825,4.347075 C9.74295,4.726675 11.641,7.3704 13.417025,10.515725 C8.427875,11.84435 4.0217,11.81725 3.54718,11.8172916 C4.2386,8.509225 6.4756,5.75705 9.45825,4.347075 Z M3.3167025,14.01355 C3.3167025,13.9051 3.3167025,13.79665 3.3167025,13.688175 C3.7776575,13.701725 8.956625,13.769525 14.2847,12.16975 C14.596525,12.766275 14.881225,13.37635 15.152375,13.98645 C15.0168,14.027125 14.867675,14.0678 14.7321,14.10845 C9.227775,15.8845 6.29935,20.738075 6.055325,21.1448 C4.360625,19.2603 3.3167025,16.752175 3.3167025,14.01355 Z M14,24.6833 C11.53255,24.6833 9.254875,23.842725 7.451725,22.43275 C7.64155,22.0396 9.81075,17.863875 15.83025,15.762475 C15.857375,15.748925 15.870925,15.748925 15.89805,15.73535 C17.402925,19.62635 18.013025,22.8937 18.1757,23.829175 C16.88775,24.385025 15.477775,24.6833 14,24.6833 Z M19.95175,22.85305 C19.843275,22.202275 19.273875,19.08405 17.87745,15.2473 C21.22615,14.71855 24.15455,15.586225 24.5206,15.70825 C24.05965,18.677325 22.3514,21.2397 19.95175,22.85305 Z"></path>
        </svg>
    </a>
    {{ end }}

    {{ if isset .Site.Params "behance" }}
    <a class="social-icon" href="{{ .Site.Params.Behance }}" target="_blank" rel="noopener" title="Behance">
        <svg width="28px" height="28px" viewBox="0 0 28 28" version="1.1" fill="#ABABAB" xmlns="https://www.w3.org/2000/svg" xmlns:xlink="https://www.w3.org/1999/xlink">
            <path d="M11.5894695,13.1729532 C11.5894695,13.1729532 13.955318,12.9996253 13.955318,10.2617683 C13.955318,7.52371826 12.0197528,6.1875 9.56794549,6.1875 L1.5,6.1875 L1.5,21.4881068 L9.56794549,21.4881068 C9.56794549,21.4881068 14.4931354,21.6416396 14.4931354,16.9720695 C14.4931354,16.9721178 14.7078612,13.1729532 11.5894695,13.1729532 Z M8.9872221,8.90701026 L9.56794549,8.90701026 C9.56794549,8.90701026 10.6646174,8.90701026 10.6646174,10.4989717 C10.6646174,12.09074 10.0196573,12.321522 9.28810237,12.321522 L5.05483926,12.321522 L5.05483926,8.90701026 L8.9872221,8.90701026 L8.9872221,8.90701026 Z M9.33996141,18.7686931 L5.05483926,18.7686931 L5.05483926,14.6797876 L9.56794549,14.6797957 C9.56794549,14.6797957 11.2024837,14.6586487 11.2024837,16.7810708 C11.2024837,18.570742 9.98164363,18.7551745 9.33996141,18.7686931 L9.33996141,18.7686931 Z M21.0617186,10.0804258 C15.099228,10.0804258 15.1045339,15.9593806 15.1045339,15.9593806 C15.1045339,15.9593806 14.6954346,21.8081599 21.0617186,21.8081599 C21.0617186,21.8081599 26.3668983,22.1072592 26.3668983,17.7394921 L23.6385258,17.7394921 C23.6385258,17.7394921 23.7295237,19.384321 21.1527166,19.384321 C21.1527166,19.384321 18.4239037,19.5647945 18.4239037,16.7223614 L26.4578962,16.7223614 C26.4578962,16.7223131 27.3369559,10.0804258 21.0617186,10.0804258 Z M18.3939136,14.6797957 C18.3939136,14.6797957 18.7270834,12.3214738 21.122335,12.3214738 C23.5170974,12.3214738 23.4871163,14.6797957 23.4871163,14.6797957 L18.3939136,14.6797957 Z M24.1226739,8.97305834 L17.7259594,8.97305834 L17.7259594,7.08890175 L24.1226739,7.08890175 L24.1226739,8.97305834 Z"></path>
        </svg>
    </a>
    {{ end }}

    {{ if isset .Site.Params "deviantart" }}
    <a class="social-icon" href="{{ .Site.Params.Deviantart }}" target="_blank" rel="noopener" title="DeviantArt">
        <svg width="28px" height="28px" viewBox="0 0 28 28" version="1.1" fill="#ABABAB" xmlns="https://www.w3.org/2000/svg" xmlns:xlink="https://www.w3.org/1999/xlink">
            <polygon points="21.4274714 2 17.0635979 2 16.6282166 2.43910732 14.569051 6.36331457 13.9216612 6.8001863 6.57252862 6.8001863 6.57252862 12.7928741 10.612614 12.7928741 10.9725441 13.2280691 6.57252862 21.6361265 6.57252862 26 10.9362158 26 11.3717834 25.5608927 13.430949 21.6366854 14.0783388 21.1998137 21.4274714 21.1998137 21.4274714 15.2071259 17.3871997 15.2071259 17.0278284 14.7689501 21.4274714 6.36368717"></polygon></svg>
        </svg>
    </a>
    {{ end }}

    {{ if isset .Site.Params "flickr" }}
    <a class="social-icon" href="{{ .Site.Params.Flickr }}" target="_blank" rel="noopener" title="Flickr">
        <svg width="28px" height="28px" viewBox="0 0 28 28" version="1.1" fill="#ABABAB" xmlns="https://www.w3.org/2000/svg" xmlns:xlink="https://www.w3.org/1999/xlink">
            <path d="M14.9020187,13.9997382 C14.9020187,10.7973887 17.4986598,8.2012711 20.7015329,8.2012711 C23.9038824,8.2012711 26.5,10.7973887 26.5,13.9997382 C26.5,17.2020878 23.9038824,19.7987289 20.7015329,19.7987289 C17.4986598,19.7987289 14.9020187,17.2020878 14.9020187,13.9997382 Z M1.5,13.9997382 C1.5,10.7973887 4.0961176,8.2012711 7.29899066,8.2012711 C10.5018637,8.2012711 13.0979813,10.7973887 13.0979813,13.9997382 C13.0979813,17.2020878 10.5018637,19.7987289 7.29899066,19.7987289 C4.0961176,19.7987289 1.5,17.2020878 1.5,13.9997382 Z"></path>
        </svg>
    </a>
    {{ end }}
    
    {{ if isset .Site.Params "github" }}
    <a class="social-icon" href="{{ .Site.Params.Github }}" target="_blank" rel="noopener" title="GitHub">
        <svg width="28px" height="28px" viewBox="0 0 28 28" version="1.1" fill="#ABABAB" xmlns="https://www.w3.org/2000/svg" xmlns:xlink="https://www.w3.org/1999/xlink">
            <path d="M13.9988029,1.32087331 C6.82105037,1.32087331 1,7.14112562 1,14.3212723 C1,20.0649109 4.72454649,24.9370678 9.89038951,26.6560892 C10.5408085,26.7757983 10.7778323,26.374374 10.7778323,26.0296121 C10.7778323,25.7215609 10.7666595,24.9035493 10.760275,23.8189856 C7.14426471,24.6042767 6.38131925,22.0760223 6.38131925,22.0760223 C5.78995672,20.5740732 4.93762853,20.1742451 4.93762853,20.1742451 C3.75729765,19.3682044 5.02701126,19.3841656 5.02701126,19.3841656 C6.33183953,19.4759425 7.01817121,20.7241085 7.01817121,20.7241085 C8.17775254,22.7104801 10.0611744,22.1366749 10.8017741,21.8038838 C10.919887,20.9643246 11.2558703,20.3913175 11.6269683,20.066507 C8.74038491,19.7385043 5.70536235,18.6228163 5.70536235,13.6413251 C5.70536235,12.2223743 6.21213051,11.0611968 7.04370914,10.1530044 C6.90963504,9.82420367 6.46351945,8.50181809 7.17139875,6.71256734 C7.17139875,6.71256734 8.26234691,6.36301702 10.7459099,8.04532771 C11.78259,7.75642995 12.8950858,7.61277914 14.000399,7.60719272 C15.1049142,7.61277914 16.2166119,7.75642995 17.2548881,8.04532771 C19.736855,6.36301702 20.8262071,6.71256734 20.8262071,6.71256734 C21.5356825,8.50181809 21.0895669,9.82420367 20.9562909,10.1530044 C21.7894656,11.0611968 22.2922435,12.2223743 22.2922435,13.6413251 C22.2922435,18.6355852 19.2524325,19.734514 16.3570705,20.0561322 C16.8231376,20.4575564 17.2389269,21.2508282 17.2389269,22.4638795 C17.2389269,24.2012564 17.2229657,25.603448 17.2229657,26.0296121 C17.2229657,26.3775663 17.4575954,26.7821827 18.116793,26.6552912 C23.2786458,24.9322794 27,20.0633148 27,14.3212723 C27,7.14112562 21.1789496,1.32087331 13.9988029,1.32087331"></path>
        </svg>
    </a>
    {{ end }}

    {{ if isset .Site.Params "stackoverflow" }}
    <a class="social-icon" href="{{ .Site.Params.Stackoverflow }}" target="_blank" rel="noopener" title="Stack Overflow">
        <svg width="28px" height="28px" viewBox="0 0 28 28" version="1.1" fill="#ABABAB" xmlns="https://www.w3.org/2000/svg" xmlns:xlink="https://www.w3.org/1999/xlink">
            <path d="M20.8863636,23.7090909 L20.8863636,17.3818182 L22.9863636,17.3818182 L22.9863636,25.8090909 L4.03181818,25.8090909 L4.03181818,17.3818182 L6.13181818,17.3818182 L6.13181818,23.7090909 L20.8863636,23.7090909 Z M8.45,16.7818182 L8.88636364,14.7090909 L19.1954545,16.8636364 L18.7590909,18.9363636 L8.45,16.7818182 Z M9.81363636,11.8727273 L10.6863636,9.93636364 L20.2318182,14.4090909 L19.3590909,16.3181818 L9.81363636,11.8727273 Z M12.4590909,7.18181818 L13.7954545,5.57272727 L21.8954545,12.3090909 L20.5590909,13.9181818 L12.4590909,7.18181818 Z M17.6954545,2.19090909 L23.9681818,10.6454545 L22.2772727,11.9 L16.0045455,3.44545455 L17.6954545,2.19090909 Z M8.23181818,21.5818182 L8.23181818,19.4818182 L18.7590909,19.4818182 L18.7590909,21.5818182 L8.23181818,21.5818182 Z"></path>
        </svg>
    </a>
    {{ end }}
    
    {{ if isset .Site.Params "gitlab" }}
    <a class="social-icon" href="{{ .Site.Params.Gitlab }}" target="_blank" rel="noopener" title="GitLab">
        <svg width="28px" height="28px" viewBox="0 0 28 28" version="1.1" fill="#ABABAB" xmlns="https://www.w3.org/2000/svg" xmlns:xlink="https://www.w3.org/1999/xlink">
            <path d="M25.8928355,15.330615 L24.6377766,11.4743798 C24.6311235,11.4388709 24.6209558,11.4041117 24.6074237,11.370615 L22.0895413,3.62002681 C21.9519499,3.20985323 21.5664025,2.9345029 21.1337766,2.93743857 C20.7020628,2.93482083 20.3190624,3.21391308 20.189306,3.62567387 L17.789306,11.0113209 L10.2144825,11.0113209 L7.8109531,3.62567387 C7.68166096,3.2154114 7.3008703,2.9366795 6.8707178,2.93743857 L6.86507074,2.93743857 C6.43207772,2.9375139 6.04793469,3.21523509 5.91212957,3.62637975 L3.39212957,11.3861445 C3.39212957,11.3932033 3.38648251,11.3988503 3.38436486,11.4059092 L2.1067178,15.3313209 C1.91410826,15.9219503 2.1242249,16.569406 2.6269531,16.9343798 L13.6655413,24.9553209 C13.8649064,25.0996309 14.1347733,25.098203 14.3326002,24.9517915 L25.373306,16.9343798 C25.8762704,16.5692556 26.0861711,15.9213012 25.8928355,15.330615 M9.39283545,12.144968 L12.4697766,21.6150856 L5.08342369,12.144968 M15.5340119,21.6172033 L18.4846002,12.5381445 L18.611659,12.144968 L22.9246002,12.144968 L16.2420119,20.7059092 M21.143659,4.35273269 L23.3057766,11.0113209 L18.9780119,11.0113209 M17.4229531,12.1407327 L15.2791884,18.7379092 L14.0001296,22.6668503 L10.5822472,12.1407327 M6.86012957,4.35273269 L9.02648251,11.0113209 L4.70154133,11.0113209 M3.29118839,16.020968 C3.18436061,15.9432767 3.13987047,15.8055284 3.18107074,15.6800268 L4.12977663,12.7647327 L11.087659,21.684968 M24.7097766,16.020968 L16.9126002,21.6828503 L16.9387178,21.648968 L23.8704825,12.7647327 L24.8191884,15.678615 C24.8608813,15.8041731 24.8166519,15.9422827 24.7097766,16.0202621"></path>
        </svg>
    </a>
    {{ end }}

    {{ if isset .Site.Params "codepen" }}
    <a class="social-icon" href="{{ .Site.Params.Codepen }}" target="_blank" rel="noopener" title="CodePen">
        <svg width="28px" height="28px" viewBox="0 0 28 28" version="1.1" fill="#ABABAB" xmlns="https://www.w3.org/2000/svg" xmlns:xlink="https://www.w3.org/1999/xlink">
            <path d="M23.9373074,15.7257163 L21.3573384,13.9998345 L23.9373074,12.2740355 L23.9373074,15.7257163 Z M15.0312843,23.0413101 L15.0312843,18.2311326 L19.5023755,15.2409171 L23.1116014,17.6547354 L15.0312843,23.0413101 Z M14.0001241,16.4396345 L10.352422,13.9998345 L14.0001241,11.5600345 L17.6474953,13.9998345 L14.0001241,16.4396345 Z M12.968633,23.0413101 L4.88823306,17.6547354 L8.49779004,15.2409171 L12.968633,18.2311326 L12.968633,23.0413101 Z M4.06260989,12.2740355 L6.6428271,13.9998345 L4.06260989,15.7257163 L4.06260989,12.2740355 Z M12.968633,4.9583589 L12.968633,9.76853646 L8.49779004,12.7594139 L4.88823306,10.3448509 L12.968633,4.9583589 Z M15.0312843,4.9583589 L23.1116014,10.3448509 L19.5023755,12.7594139 L15.0312843,9.76853646 L15.0312843,4.9583589 Z M25.990774,10.2091501 C25.9886227,10.1940079 25.9848164,10.1795277 25.9823341,10.1643855 C25.9772039,10.1352594 25.9719083,10.1062162 25.9642958,10.0778349 C25.9598276,10.0607895 25.953539,10.0444061 25.9482434,10.0280228 C25.939969,10.002703 25.9317773,9.97746595 25.9216825,9.95289088 C25.9146492,9.93584554 25.9065403,9.91880021 25.8986795,9.90241682 C25.88784,9.87900017 25.8765868,9.85624547 25.8635959,9.83423548 C25.8541631,9.81776935 25.8440683,9.80196518 25.8343044,9.78624375 C25.8204034,9.76473022 25.8061713,9.74387864 25.7906154,9.72368902 C25.7793622,9.7085468 25.7673642,9.69340459 25.7553663,9.67884158 C25.7389002,9.65997587 25.7218549,9.64102741 25.7038993,9.62332012 C25.690412,9.60950181 25.6770074,9.59560076 25.6628581,9.58294087 C25.6439097,9.56589554 25.624382,9.54942941 25.6044406,9.53370798 C25.5890502,9.52171005 25.5738252,9.50971212 25.5577728,9.49837614 C25.5517325,9.4945699 25.5464368,9.4895225 25.5407275,9.48571626 L14.5719703,2.17326668 C14.2255197,1.94224444 13.7743975,1.94224444 13.4278642,2.17326668 L2.45918979,9.48571626 C2.45348043,9.4895225 2.44810205,9.4945699 2.44214446,9.49837614 C2.42600931,9.50971212 2.41086709,9.52171005 2.39572488,9.53370798 C2.37553525,9.54942941 2.35592484,9.56589554 2.33739011,9.58294087 C2.3228271,9.59560076 2.309588,9.60950181 2.29601793,9.62332012 C2.2780624,9.64102741 2.26101707,9.65997587 2.24488192,9.67884158 C2.23255301,9.69340459 2.22055508,9.7085468 2.2092191,9.72368902 C2.19407688,9.74387864 2.17951388,9.76473022 2.1659438,9.78624375 C2.15551801,9.80196518 2.14575418,9.81776935 2.13632132,9.83423548 C2.12366144,9.85624547 2.11232546,9.87900017 2.10123772,9.90241682 C2.093377,9.91880021 2.08518531,9.93584554 2.07823479,9.95289088 C2.06813998,9.97746595 2.05994828,10.002703 2.05167385,10.0280228 C2.04629547,10.0444061 2.04033787,10.0607895 2.03562144,10.0778349 C2.02800896,10.1062162 2.02296156,10.1352594 2.01758318,10.1643855 C2.01510084,10.1795277 2.0112946,10.1940079 2.00939148,10.2091501 C2.00335115,10.2533356 1.99995863,10.2981831 1.99995863,10.3436097 L1.99995863,17.6560593 C1.99995863,17.701486 2.00335115,17.7463334 2.00939148,17.7911808 C2.0112946,17.8057438 2.01510084,17.8208033 2.01758318,17.8352836 C2.02296156,17.8644096 2.02800896,17.8933701 2.03562144,17.9218342 C2.04033787,17.9388795 2.04629547,17.9552629 2.05167385,17.971729 C2.05994828,17.9968833 2.06813998,18.0222031 2.07823479,18.0474401 C2.08518531,18.0645682 2.093377,18.0809516 2.10123772,18.0973349 C2.11232546,18.1205861 2.12366144,18.1433408 2.13632132,18.1660955 C2.14575418,18.1819824 2.15551801,18.1976211 2.1659438,18.2134253 C2.17951388,18.2349388 2.19407688,18.2557904 2.2092191,18.27598 C2.22055508,18.2917842 2.23255301,18.3062644 2.24488192,18.3207447 C2.26101707,18.3396932 2.2780624,18.3586416 2.29601793,18.3763489 C2.309588,18.3901672 2.3228271,18.4040683 2.33739011,18.4166454 C2.35592484,18.4338562 2.37553525,18.4502396 2.39572488,18.465961 C2.41086709,18.4780417 2.42600931,18.4899569 2.44214446,18.5012929 C2.44810205,18.5050991 2.45348043,18.5101465 2.45918979,18.51387 L13.4278642,25.8264023 C13.6011308,25.9419135 13.8006275,26 14.0001241,26 C14.1992898,26 14.3987037,25.9419135 14.5719703,25.8264023 L25.5407275,18.51387 C25.5464368,18.5101465 25.5517325,18.5050991 25.5577728,18.5012929 C25.5738252,18.4899569 25.5890502,18.4780417 25.6044406,18.465961 C25.624382,18.4502396 25.6439097,18.4338562 25.6628581,18.4166454 C25.6770074,18.4040683 25.690412,18.3901672 25.7038993,18.3763489 C25.7218549,18.3586416 25.7389002,18.3396932 25.7553663,18.3207447 C25.7673642,18.3062644 25.7793622,18.2917842 25.7906154,18.27598 C25.8061713,18.2557904 25.8204034,18.2349388 25.8343044,18.2134253 C25.8440683,18.1976211 25.8541631,18.1819824 25.8635959,18.1660955 C25.8765868,18.1433408 25.88784,18.1205861 25.8986795,18.0973349 C25.9065403,18.0809516 25.9146492,18.0645682 25.9216825,18.0474401 C25.9317773,18.0222031 25.939969,17.9968833 25.9482434,17.971729 C25.953539,17.9552629 25.9598276,17.9388795 25.9642958,17.9218342 C25.9719083,17.8933701 25.9772039,17.8644096 25.9823341,17.8352836 C25.9848164,17.8208033 25.9886227,17.8057438 25.990774,17.7911808 C25.9964834,17.7463334 26.0000414,17.701486 26.0000414,17.6560593 L26.0000414,10.3436097 C26.0000414,10.2981831 25.9964834,10.2533356 25.990774,10.2091501 L25.990774,10.2091501 Z"></path>
        </svg>
    </a>
    {{ end }}

    {{ if isset .Site.Params "googlescholar" }}
    <a class="social-icon" href="{{ .Site.Params.GoogleScholar }}" target="_blank" rel="noopener" title="Google Scholar">
        <svg width="28px" height="28px" viewBox="0 0 28 28" version="1.1" fill="#ABABAB" xmlns="https://www.w3.org/2000/svg" xmlns:xlink="https://www.w3.org/1999/xlink">
             <path d="M15.7399177,5.48151786 C15.149924,4.82272859 14.4663239,4.49480724 13.6933878,4.49480724 C12.8185607,4.49480724 12.1471312,4.80966127 11.6791845,5.43796013 C11.2112379,6.06433732 10.9771365,6.82326666 10.9771365,7.71483354 C10.9771365,8.47423262 11.1052474,9.24733956 11.3616402,10.035649 C11.6170934,10.8236168 12.0350768,11.5270314 12.6210136,12.1470458 C13.2049434,12.7685974 13.8844439,13.0787968 14.6564833,13.0787968 C15.5171327,13.0787968 16.189459,12.7903763 16.671626,12.2137916 C17.1517432,11.6379755 17.3927199,10.9111166 17.3927199,10.035649 C17.3927199,9.29000051 17.2655484,8.50924961 17.0102233,7.69296927 C16.7561365,6.87562134 16.3319184,6.13812924 15.739875,5.48156056 L15.7399177,5.48151786 Z M24.3072528,4.96950105 L24.3072528,13.3462071 C24.3072528,13.7339989 23.9898792,14.0515006 23.6019592,14.0515006 L23.3422783,14.0515006 C22.9543156,14.0515006 22.6369848,13.7341271 22.6369848,13.3462071 L22.6369848,4.96950105 C22.6369848,4.62513879 22.5869788,4.33765779 23.068249,4.27714671 L23.068249,3.16262405 L19.3634081,6.20120253 C19.4061972,6.28058863 19.446851,6.33132057 19.4854124,6.39789556 C19.8110278,6.97418137 19.9768461,7.69087679 19.9768461,8.56681414 C19.9768461,9.23824368 19.8649625,9.84134739 19.638078,10.3740328 C19.4122611,10.9065473 19.1375912,11.3415267 18.817143,11.6765369 C18.496652,12.0127855 18.1752643,12.3201237 17.8538766,12.5967152 C17.5324462,12.8739047 17.2577763,13.162923 17.0328135,13.4629589 C16.8060571,13.7620125 16.6932767,14.0712297 16.6932767,14.3917206 C16.6932767,14.7126813 16.8397076,15.0387237 17.1317151,15.3673283 C17.4226551,15.6968724 17.7805972,16.0162103 18.2038758,16.3317049 C18.6279231,16.6450216 19.0510736,16.9928002 19.4743522,17.3712399 C19.8985703,17.74921 20.2545052,18.2354765 20.5454452,18.8259399 C20.8385631,19.4186239 20.9848231,20.071093 20.9848231,20.7882582 C20.9848231,21.7343577 20.7435475,22.5887297 20.2626616,23.3491963 C19.7802812,24.1064175 19.1518542,24.7106315 18.3796867,25.1537246 C17.6054695,25.599807 16.777531,25.9355858 15.8945476,26.1623422 C15.0097279,26.3870488 14.1317408,26.5 13.2548639,26.5 C12.7014246,26.5 12.1429889,26.4573818 11.5814359,26.3697112 C11.0178757,26.2822114 10.4532907,26.1276668 9.8847343,25.9098782 C9.31502485,25.6906377 8.81052389,25.4214338 8.37319577,25.0981672 C7.93475736,24.778146 7.58181166,24.3652016 7.3111559,23.862238 C7.04054285,23.3591036 6.90615445,22.7936645 6.90615445,22.1655364 C6.90615445,21.4203577 7.1136515,20.7291563 7.52975591,20.0847582 C7.94586031,19.4451002 8.49707907,18.9108775 9.18272893,18.487727 C10.3789864,17.7434877 12.2558547,17.2836547 14.8102164,17.1098936 C14.2262867,16.3799173 13.9333396,15.6928582 13.9333396,15.0498693 C13.9333396,14.6841125 14.0289531,14.2920503 14.218173,13.8687717 C13.9130554,13.9113899 13.5987992,13.9355175 13.2781801,13.9355175 C11.9059836,13.9355175 10.7472627,13.4894351 9.80628769,12.5911638 C8.86535538,11.6944724 8.39535897,10.5719642 8.39535897,9.21488479 C8.39535897,9.07298054 8.39941581,8.94802965 8.40970739,8.8095417 L2.83316537,8.8095417 L11.2417283,1.5 L25.1668346,1.5 L23.87996,2.50451805 L23.87996,4.27748834 C24.3577712,4.3388962 24.3072955,4.62607827 24.3072955,4.96950105 L24.3072528,4.96950105 Z M15.8172967,17.9839947 C15.6566455,17.9549562 15.430914,17.9386434 15.1399313,17.9386434 C14.512273,17.9386434 13.8947782,17.9941154 13.2885571,18.1048887 C12.6822934,18.2126727 12.084186,18.3947184 11.4941496,18.6515809 C10.9019353,18.906906 10.423996,19.2823566 10.0597766,19.7787865 C9.69355004,20.274576 9.51150436,20.858463 9.51150436,21.5303623 C9.51150436,22.1706609 9.67215551,22.7419077 9.99371402,23.2394479 C10.3142049,23.7338281 10.7373127,24.1208513 11.2632509,24.3980408 C11.7891891,24.6756999 12.3405787,24.8854176 12.916224,25.0231795 C13.4929795,25.1600875 14.0799412,25.2311463 14.6780913,25.2311463 C15.8610679,25.2311463 16.8794647,24.9647609 17.7338794,24.4320756 C18.5863724,23.899561 19.0135798,23.0772595 19.0135798,21.9672634 C19.0135798,21.7338025 18.9810823,21.5040141 18.916856,21.2796064 C18.8498112,21.0527219 18.7835352,20.8585057 18.7185829,20.6972567 C18.6534171,20.5389543 18.529363,20.3483679 18.3462498,20.1286576 C18.1642041,19.9083067 18.0248194,19.7455631 17.9310848,19.6372239 C17.8354714,19.5253403 17.6565431,19.3656714 17.3929761,19.1545445 C17.131587,18.9425209 16.9647012,18.8103104 16.8904822,18.7614574 C16.8172027,18.7100422 16.6270434,18.5711699 16.3207728,18.3458227 C16.0147157,18.1186393 15.8468903,17.9981723 15.8173394,17.983952 L15.8172967,17.9839947 Z"></path>
        </svg>
    </a>
    {{ end }}

    {{ if isset .Site.Params "impactstory" }}
    <a class="social-icon" href="{{ .Site.Params.Impactstory }}" target="_blank" rel="noopener" title="ImpactStory">
        <svg width="28px" height="28px" viewBox="0 0 28 28" version="1.1" fill="#ABABAB" xmlns="https://www.w3.org/2000/svg" xmlns:xlink="https://www.w3.org/1999/xlink">
            <path d="M4.20996571e-13,10.1451443 C0.0591196154,10.1855405 0.0833053846,10.1370443 0.0886846154,10.0966482 C0.223051154,9.37242508 0.661095,8.85807508 1.20125077,8.40042508 C2.15795423,7.5873097 2.74649192,6.55601354 2.96685346,5.31484431 C2.99103923,5.18285585 3.02060423,5.05097123 3.05284846,4.92178662 C3.31622308,3.85549431 3.99880385,3.2227597 5.05491923,2.98046585 C5.38546154,2.90508393 5.72410385,2.85392931 6.04654615,2.7516097 C6.97368462,2.45544046 7.75305,1.93579431 8.39533846,1.20345046 C8.49482308,1.08767239 8.59150385,0.97189431 8.69628462,0.858805849 C9.47025,0.0403008489 10.3947923,-0.19124492 11.4643038,0.156078926 C11.9077269,0.298773926 12.34575,0.449558541 12.8106692,0.514171618 C13.6518231,0.63263931 14.4714808,0.541098926 15.2696423,0.263777772 C15.5652923,0.161458157 15.8635385,0.0618385412 16.1752846,0.0214527719 C16.9680462,-0.0781668434 17.6399308,0.174927003 18.2123308,0.716110849 C18.3628038,0.856116233 18.4971808,1.0149697 18.6315577,1.17113354 C19.4539154,2.1242647 20.4858346,2.7031447 21.7220192,2.92662162 C21.8455962,2.94815931 21.9692769,2.969697 22.0901538,3.00201393 C23.2430538,3.298152 23.8772423,4.06827508 24.0708115,5.220552 C24.2911731,6.53181739 24.9038654,7.61150585 25.9196885,8.46501739 C26.0352692,8.56190585 26.1507462,8.66429816 26.2556308,8.77468662 C26.9462077,9.4854097 27.1477731,10.3255251 26.8925192,11.2786251 C26.7930346,11.6501866 26.6371615,12.005652 26.5565769,12.3825097 C26.3470154,13.3626097 26.4115038,14.3265097 26.7473423,15.2689135 C26.8495269,15.5569828 26.9436115,15.845052 26.9812038,16.1493212 C27.0752885,16.9624366 26.8199308,17.6516635 26.2502308,18.2306058 C26.1185538,18.3651905 25.9760769,18.4863789 25.8337038,18.6101635 C24.8850692,19.4367789 24.3045692,20.4679712 24.0815077,21.7065443 C24.0600115,21.8304328 24.0385154,21.9542174 24.0062192,22.0754058 C23.7267692,23.1711905 23.0172923,23.8093251 21.9235846,24.032802 C21.5903423,24.1000943 21.2571,24.1620905 20.9319577,24.2697789 C20.0370115,24.5686482 19.2818423,25.0828943 18.6584538,25.7910212 C18.5508692,25.9122097 18.4487885,26.0359943 18.3386077,26.1544828 C17.9999654,26.5125443 17.6049346,26.7791174 17.1266192,26.916402 C17.0782269,26.929902 16.9922423,26.9030058 16.9841423,26.9971943 C16.6804962,26.9971943 16.37415,26.9971943 16.0705038,26.9971943 C15.6162808,26.8491097 15.1675615,26.6849289 14.7026423,26.5691405 C14.2834154,26.464152 13.8560885,26.4264558 13.4260615,26.4291558 C12.5634115,26.434452 11.77065,26.7387212 10.9671923,26.9971943 C10.6796423,26.9971943 10.3947923,26.9971943 10.1072423,26.9971943 C10.0803462,26.921802 10.0023577,26.935302 9.94866923,26.919102 C9.44075769,26.7764174 9.02682692,26.4937482 8.67748846,26.1059866 C8.57000769,25.987602 8.46522692,25.8637135 8.35774615,25.7425251 C7.70735769,25.021002 6.92539615,24.506652 5.99285769,24.2266828 C5.71870385,24.1431905 5.43655385,24.0893982 5.15710385,24.035502 C4.0149,23.8093251 3.29742692,23.1361943 3.03135231,21.9946135 C3.00178731,21.8734251 2.98567038,21.7469405 2.96148462,21.625752 C2.78142577,20.680752 2.383695,19.8406366 1.74410654,19.1218135 C1.51836577,18.8660405 1.26574962,18.6371635 1.005075,18.4190866 C0.416537308,17.9290366 0.131676923,17.277402 0.00805846154,16.5396789 C4.20996571e-13,16.4965828 0.00268961539,16.4481905 0.0134376923,16.4077943 C0.11556,16.0227328 0.180058846,15.6296751 0.314425385,15.2500135 C0.736341923,14.0788366 0.722904231,12.8967558 0.309046154,11.7228789 C0.223051154,11.4779058 0.137056154,11.2328289 0.0967430769,10.9743558 C0.0886846154,10.9205635 0.102122308,10.8397712 0.00268961539,10.8478712 C4.20996571e-13,10.6108943 4.20996571e-13,10.3766174 4.20996571e-13,10.1451443 Z M1.87309385,13.4702982 C1.85428731,19.8137405 6.91729615,24.988602 13.2513923,25.1259905 C19.6688769,25.2632751 25.0382423,20.2040982 25.1376231,13.6560789 C25.2371077,7.13225585 20.1042,1.91425662 13.7029154,1.814637 C6.99518077,1.70693816 1.84353923,7.11335585 1.87309385,13.4702982 Z" id="Shape"></path>
            <path d="M13.4852538,24.0461982 C7.72085769,24.1161905 2.81908038,19.2104982 2.93464038,13.2521174 C3.03945231,7.69489431 7.68056538,2.7622747 13.7298115,2.87805277 C19.4163231,2.98574123 24.1997885,7.74328662 24.0762115,13.6990712 C23.9579308,19.5093674 19.1045769,24.1322866 13.4852538,24.0461982 Z M15.1755577,14.0571328 C15.1755577,13.0878328 15.1755577,12.1185328 15.1755577,11.1493366 C15.1755577,11.0604443 15.1782577,10.968852 15.1648615,10.8800635 C15.1379654,10.6996828 15.0277846,10.5919943 14.8504154,10.5649943 C14.7805269,10.5542982 14.7080423,10.5569982 14.6354538,10.5569982 C13.4099654,10.5569982 12.1818808,10.5569982 10.9563923,10.5569982 C10.8946038,10.5569982 10.8301154,10.5542982 10.7683269,10.5622943 C10.5694615,10.5838943 10.4619808,10.6753828 10.4162885,10.8719635 C10.4001923,10.9419558 10.3947923,11.0146482 10.3947923,11.0846405 C10.3920923,11.6581828 10.3920923,12.2316212 10.3947923,12.8078635 C10.3974923,13.2198212 10.5291692,13.3463058 10.9510962,13.3490058 C11.2386462,13.3517058 11.5234962,13.3544058 11.8110462,13.3463058 C11.9454231,13.3436058 12.0099115,13.378602 11.9964115,13.5266866 C11.9857154,13.6882712 11.9937115,13.8498558 11.9937115,14.0113366 C11.9937115,15.0345328 11.9937115,16.0576251 11.9937115,17.0781212 C11.9937115,17.3230943 12.0153115,17.3176943 11.7653538,17.3176943 C11.4697038,17.3176943 11.1741577,17.3149943 10.8785077,17.3176943 C10.5506654,17.3230943 10.4001923,17.4657789 10.3947923,17.7969443 C10.3866923,18.4081828 10.3866923,19.0166174 10.3947923,19.6278558 C10.4001923,19.9752212 10.5452654,20.1179058 10.8919038,20.1179058 C12.6924923,20.1206058 14.4902769,20.1206058 16.2908654,20.1179058 C16.6348038,20.1179058 16.7745808,19.9698212 16.7772808,19.6197558 C16.7826808,19.0193174 16.7799808,18.4189828 16.7772808,17.8158443 C16.7745808,17.4657789 16.6322077,17.3257943 16.2881654,17.3203943 C16.0006154,17.3149943 15.7157654,17.3203943 15.4282154,17.3203943 C15.1782577,17.3203943 15.1782577,17.3176943 15.1782577,17.0727212 C15.1755577,16.0684251 15.1755577,15.0641289 15.1755577,14.0571328 Z M13.5739385,8.9656597 C13.9501731,8.9656597 14.3264077,8.9683597 14.6999423,8.9656597 C15.0438808,8.9629597 15.1702615,8.83917508 15.1729615,8.4972097 C15.1782577,7.87797508 15.1782577,7.26133662 15.1729615,6.642102 C15.1702615,6.31093662 15.0304846,6.170952 14.6945423,6.168252 C13.9528731,6.162852 13.2111,6.162852 12.4667308,6.168252 C12.1334885,6.170952 11.9911154,6.31633662 11.9884154,6.644802 C11.9857154,7.26403662 11.9830154,7.88067508 11.9884154,8.4999097 C11.9911154,8.83107508 12.1280885,8.9629597 12.4694308,8.9629597 C12.8402654,8.9683597 13.2058038,8.9656597 13.5739385,8.9656597 Z" id="Shape"></path>
        </svg>
    </a>
    {{ end }}

    {{ if isset .Site.Params "orcid" }}
    <a class="social-icon" href="{{ .Site.Params.Orcid }}" target="_blank" rel="noopener" title="Orcid">
        <svg width="28px" height="28px" viewBox="0 0 28 28" version="1.1" fill="#ABABAB" xmlns="https://www.w3.org/2000/svg" xmlns:xlink="https://www.w3.org/1999/xlink">
            <path d="M27,14 C27,21.1804687 21.1804687,27 14,27 C6.81953125,27 1,21.1804687 1,14 C1,6.81953125 6.81953125,1 14,1 C21.1804687,1 27,6.81953125 27,14 Z M9.76484375,19.9109375 L9.76484375,13.9492188 L9.76484375,9.03359375 L8.20078125,9.03359375 L8.20078125,19.9109375 L9.76484375,19.9109375 Z M12.0601563,9.03359375 L12.0601563,19.9210938 L16.3054688,19.9210938 C19.890625,19.9210938 22.0742188,17.2703125 22.0742188,14.4773437 C22.0742188,11.9078125 20.3070313,9.03359375 16.2851563,9.03359375 L12.0601563,9.03359375 Z M13.6242188,18.509375 L13.6242188,10.4453125 L16.03125,10.4453125 C19.078125,10.4453125 20.4695313,12.29375 20.4695313,14.4773437 C20.4695313,15.8179688 19.6570313,18.509375 16.1125,18.509375 L13.6242188,18.509375 Z M10.0085938,6.76875 C10.0085938,6.21015625 9.5515625,5.74296875 8.9828125,5.74296875 C8.4140625,5.74296875 7.95703125,6.2 7.95703125,6.76875 C7.95703125,7.32734375 8.4140625,7.79453125 8.9828125,7.79453125 C9.5515625,7.79453125 10.0085938,7.32734375 10.0085938,6.76875 Z"></path>
        </svg>
    </a>
    {{ end }}

    {{ if isset .Site.Params "soundcloud" }}
    <a class="social-icon" href="{{ .Site.Params.Soundcloud }}" target="_blank" rel="noopener" title="Soundcloud">
        <!-- Soundcloud icon by https://icons8.com/icons/set/soundcloud -->
        <svg width="28px" height="28px" viewBox="0 0 50 50" version="1.1" fill="#ABABAB" xmlns="https://www.w3.org/2000/svg" xmlns:xlink="https://www.w3.org/1999/xlink">
            <path d="M 30 11 C 26.398438 11 23 12.789063 21 15.6875 L 21 36 L 42.5 36 C 46.601563 36 50 32.601563 50 28.5 C 50 24.398438 46.601563 21 42.5 21 C 42 21 41.5 21.085938 41 21.1875 C 40.5 15.488281 35.800781 11 30 11 Z M 17 16 C 16.300781 16 15.601563 16.085938 15 16.1875 L 15 36 L 17 36 Z M 18 16 L 18 36 L 20 36 L 20 16.5 C 19.398438 16.300781 18.699219 16.101563 18 16 Z M 14 16.5 C 13.300781 16.800781 12.601563 17.101563 12 17.5 L 12 36 L 14 36 Z M 11 18.3125 C 10.199219 19.011719 9.5 19.90625 9 20.90625 L 9 36 L 11 36 Z M 6.5 22 C 6.324219 22.011719 6.148438 22.042969 6 22.09375 L 6 35.90625 C 6.300781 36.007813 6.699219 36 7 36 L 8 36 L 8 22.09375 C 7.699219 21.992188 7.300781 22 7 22 C 6.851563 22 6.675781 21.988281 6.5 22 Z M 5 22.3125 C 4.300781 22.511719 3.601563 22.8125 3 23.3125 L 3 34.6875 C 3.601563 35.085938 4.300781 35.488281 5 35.6875 Z M 2 24.09375 C 0.800781 25.394531 0 27.101563 0 29 C 0 30.898438 0.800781 32.605469 2 33.90625 Z"/>
        </svg>
    </a>
    {{ end }}

    {{ if isset .Site.Params "kofi" }}
    <a class="social-icon" href="{{ .Site.Params.Kofi }}" target="_blank" rel="noopener" title="Ko-fi">
        <!-- Ko-fi icon by http://svgur.com/s/6LC -->
        <svg width="28px" height="28px" viewBox="0 0 60 40" version="1.1" fill="#ABABAB" xmlns="https://www.w3.org/2000/svg" xmlns:xlink="https://www.w3.org/1999/xlink">
            <path
          d="M44,0H2.7C1.2,0,0,1.2,0,2.6v29.2c0,3.5,2.8,6.3,6.3,6.3h30c3.5,0,6.3-2.8,6.3-6.3v-3.3h1.7
		c8.1,0,14.6-6.8,14.2-14.9C58.3,5.9,51.7,0,44,0z M21.5,30.5c0,0-12.3-10.5-12.3-14.5s2-6.6,6.1-6.6c4.1,0,6.1,3,6.1,3s2-3,6.1-3
		c4.1,0,6.1,2.6,6.1,6.6S21.5,30.5,21.5,30.5z M44.4,21.7c-0.6,0-1.2-0.1-1.7-0.2V7c0.5-0.1,1.1-0.2,1.7-0.2c4.1,0,7.4,3.3,7.4,7.4
		C51.8,18.3,48.5,21.7,44.4,21.7z" />
        </svg>
    </a>
    {{ end }}
    
    {{ if .Site.Params.Get "rss" }}
    <a class="social-icon" href="{{ .Site.RSSLink }}" target="_blank" rel="noopener" title="RSS" type="application/rss+xml">
      <!-- RSS icon by https://commons.wikimedia.org/wiki/File:Generic_Feed-icon.svg -->
      <svg width="28px" height="28px" viewBox="0 0 8 8" version="1.1" fill="#ABABAB" xmlns="https://www.w3.org/2000/svg" xmlns:xlink="https://www.w3.org/1999/xlink">
        <circle xmlns="http://www.w3.org/2000/svg" class="symbol" cx="2" cy="6" r="1"/>
        <path d="m 1,4 a 3,3 0 0 1 3,3 h 1 a 4,4 0 0 0 -4,-4 z" />
        <path d="m 1,2 a 5,5 0 0 1 5,5 h 1 a 6,6 0 0 0 -6,-6 z" />
      </svg>
    </a>
    {{ end }}
</div>


