<!--
    name: path
    Can pass in the following values:
        title: will use /img/LinkTitle as the path
        date: will use /img/Year/Month as the path
        /path/to/img: can pass in explicit path to the image
        /img/Year/Month/File.TranslationBaseName will be used when not specified

    name: file
    Name of the file including the file extension

    name: title
    Name of the alternate text, caption and title for the image

    name: author
    Name of copyright holder or original source
    
    name: link
    URL of source
    
    name: authorlink
    URL of copyright holder or original source

    name: type
    Can pass in the following values:
        center: places the image centered (default)
        left: places the image to the left
        right: places the image to the right

    name: lightbox
    Name of the group or "lightbox-group-default" will be used
-->
    {{ $numOfParams := len .Params }}
    {{ with .Get "path" }}{{ $.Scratch.Set "path"  . }}{{ else }}{{ $.Scratch.Set "path" (print (.Page.Date.Format "/img/2006/01/") .Page.File.TranslationBaseName) }}{{ end }}
    {{ $.Scratch.Set "file"  (.Get "file") }}
    {{ with .Get "title" }}{{ $.Scratch.Set "title" . }}{{ else }}{{ $.Scratch.Set "title" "" }}{{ end }}
    {{ with .Get "author" }}{{ $.Scratch.Set "author" . }}{{ else }}{{ $.Scratch.Set "author" "" }}{{ end }}
    {{ with .Get "link" }}{{ $.Scratch.Set "link" . }}{{ else }}{{ $.Scratch.Set "link" "" }}{{ end }}
    {{ with .Get "authorlink" }}{{ $.Scratch.Set "authorlink" . }}{{ else }}{{ $.Scratch.Set "authorlink" "" }}{{ end }}
    {{ with .Get "type" }}{{ $.Scratch.Set "type"  . }}{{ else }}{{ $.Scratch.Set "type" "center" }}{{ end }}
    {{ with .Get "lightbox" }}{{ $.Scratch.Set "lightbox"  . }}{{ else }}{{ $.Scratch.Set "lightbox" "lightbox-group-default" }}{{ end }}

    {{ $file   := $.Scratch.Get "file" }}
    {{ $type   := $.Scratch.Get "type" }}
    {{ $title  := $.Scratch.Get "title" }}
    {{ $author := $.Scratch.Get "author" }}
    {{ $link   := $.Scratch.Get "link" }}
    {{ $authorlink := $.Scratch.Get "authorlink" }}
    {{ $lightbox := $.Scratch.Get "lightbox" }}
    
    {{ $.Scratch.Set "structType" "shortcode" }}
    {{ partial "img-path" . }}
    {{ $path := $.Scratch.Get "path" }}

    {{ if eq $type "left" }}
      <figure class="image left">
        <blockquote class="image-quoted" cite="{{ $authorlink }}">
          <a data-lightbox="{{ $lightbox }}" href="{{ $path }}/{{ $file }}" data-title="{{ $title }}&nbsp;from&nbsp;{{ $author }}">
            <img class="image-data" src="{{ $path }}/{{ $file }}" alt="{{ $title }}" title="{{ $title }}" onerror="this.classList.add('on-error')" />
            <span class="image-alt">Not found</span>
          </a>
        </blockquote>
        {{ if ne $author "" }}
          <div class="image-quoted-cite">from&nbsp;{{ if ne $authorlink "" }}<a href="{{ $authorlink }}"><cite>{{ $author }}</cite></a>{{ else }}{{ $author }}{{ end }}</div>
        {{ end }}
        <figcaption>
          {{ if ne $title "" }}
            {{ if ne $link "" }}<a href="{{ $link }}" target="_blank">{{ $title }}</a>{{ else }}{{ $title }}{{ end }}
          {{ end }}
        </figcaption>
      </figure>
    {{ else if eq $type "right" }}
      <figure class="image right">
        <blockquote class="image-quoted" cite="{{ $authorlink }}">
          <a data-lightbox="{{ $lightbox }}" href="{{ $path }}/{{ $file }}" data-title="{{ $title }}&nbsp;from&nbsp;{{ $author }}">
            <img class="image-data" src="{{ $path }}/{{ $file }}" alt="{{ $title }}" title="{{ $title }}" onerror="this.classList.add('on-error')" />
            <span class="image-alt">Not found</span>
          </a>
        </blockquote>
        {{ if ne $author "" }}
          <div class="image-quoted-cite">from&nbsp;{{ if ne $authorlink "" }}<a href="{{ $authorlink }}"><cite>{{ $author }}</cite></a>{{ else }}{{ $author }}{{ end }}</div>
        {{ end }}
        <figcaption>
          {{ if ne $title "" }}
            {{ if ne $link "" }}<a href="{{ $link }}" target="_blank">{{ $title }}</a>{{ else }}{{ $title }}{{ end }}
          {{ end }}
        </figcaption>
      </figure>
    {{ else }}
      <p><figure class="image center-image">
        <blockquote class="image-quoted" cite="{{ $authorlink }}">
          <a data-lightbox="{{ $lightbox }}" href="{{ $path }}/{{ $file }}" data-title="{{ $title }}&nbsp;from&nbsp;{{ $author }}">
            <img class="image-data" src="{{ $path }}/{{ $file }}" alt="{{ $title }}" title="{{ $title }}" onerror="this.classList.add('on-error')" />
            <span class="image-alt">Not found</span>
          </a>
        </blockquote>
        {{ if ne $author "" }}
          <div class="image-quoted-cite">from&nbsp;{{ if ne $authorlink "" }}<a href="{{ $authorlink }}"><cite>{{ $author }}</cite></a>{{ else }}{{ $author }}{{ end }}</div>
        {{ end }}
        <figcaption>
          {{ if ne $title "" }}
            {{ if ne $link "" }}<a href="{{ $link }}" target="_blank">{{ $title }}</a>{{ else }}{{ $title }}{{ end }}
          {{ end }}
        </figcaption>
      </figure></p>
    {{ end }}
